{% extends 'base.html' %}

{% block title %}
Event Menu | Family Organiser
{% endblock %}

{% block content %}
<div class="row m-0 p-2">
    <div class="col-12 m-0 p-0">
        <p class="m-0 p-0 text-right">Event - Create</p>
    </div>
</div>

<!-- Event navigation -->
<div class="row m-0 p-0 py-3 mini-navigation-container">
    <div class="col-6 m-0 p-0 d-flex justify-content-center">
        <a href="/event/menu">
            <button class="btn border mini-navigation-button">
                <img src="{{ MEDIA_URL }}icons/schedule_icon.png" class="small-icon" />
                <small>Events</small>
            </button>
        </a>
    </div>
    <div class="col-6 m-0 p-0 d-flex justify-content-center ">
        <a href="/event/create_event">
            <button class="btn border mini-navigation-button mini-navigation-active">
                <img src="{{ MEDIA_URL }}icons/schedule_icon.png" class="small-icon" />
                <small>Create Event</small>
            </button>
        </a>
    </div>
</div>

<hr class="mt-0">

<h6 class="m-0 d-flex align-items-center justify-content-between px-3">Event Details</h6>

<hr class="mt-3">

<div class="px-3">
    <div id="error-container"></div>
    <form action="/event/create_event/" method="POST" enctype="multipart/form-data" id="event-form">
        {% csrf_token %}
        {{ create_event_form }}
        <button class="btn btn-success container-fluid mt-3 mb-4" type="submit">Create Event</button>
    </form>
</div>

{% endblock %}
{% block extra_js %}
<script>
    $(document).ready(function() {
        $('#event-form').submit(function(e) {   
            var startTime = $('#start-time').val()
            var endTime = $('#end-time').val()
            if (endTime > startTime) {
                e.submit()
            } else {
                e.preventDefault()
                $('#error-container').html('<p class="text-danger">The end time has to be later than the start time!</p>')
            }
        });
    });
   
</script>
{% endblock %}