{% extends 'base.html' %}

{% block title %}
Event Menu | Family Organiser
{% endblock %}

{% block content %}
<div class="row m-0 p-2">
    <div class="col-12 m-0 p-0">
        <p class="m-0 p-0 text-right">Event - Menu</p>
    </div>
</div>

<!-- Event navigation -->
<div class="row m-0 p-0 py-3 mini-navigation-container">
    <div class="col-6 m-0 p-0 d-flex justify-content-center">
        <a href="/event/menu">
            <button class="btn border mini-navigation-button mini-navigation-active">
                <img src="{{ MEDIA_URL }}icons/schedule_icon.png" class="small-icon" />
                <small>Events</small>
            </button>
        </a>
    </div>
    <div class="col-6 m-0 p-0 d-flex justify-content-center">
        <a href="/event/create_event">
            <button class="btn border mini-navigation-button">
                <img src="{{ MEDIA_URL }}icons/schedule_icon.png" class="small-icon" />
                <small>Create Event</small>
            </button>
        </a>
    </div>
</div>

<hr class="mt-0">

{% if new_message_conversation %}
<h6 class="ml-3">Unread Messages</h6>
<hr>
{% endif %}

{% for aUser in new_message_conversation %}
<div class="col-12 m-0 p-0">
    <div class="row m-0 p-0">
        <div class="col-3 m-0 p-0 pl-3">
            <a href="/user/view_user_profile/{{aUser.sent_from.id}}">
                {% if aUser.sent_from.user_profile.profile_image %}
                <img src="{{ MEDIA_URL }}{{aUser.sent_from.user_profile.profile_image}}" class="user-image">
                {% else %}
                <img src="{{ MEDIA_URL }}user-image.png" class="user-image">
                {% endif %}
            </a>
        </div>
        <div class="col-5 m-0 p-0">
            <a href="/user/view_user_profile/{{aUser.sent_from.id}}">
                <h5 class="text-dark">{{ aUser.sent_from.first_name }}{% if aUser.username == user.username %} <span
                        class="text-secondary">(You!)</span>{% endif %}</h5>
                <h5 class="text-dark">{{ aUser.sent_from.last_name }}</h5>
            </a>
        </div>
        <div class="col-4 m-0 p-0 d-flex align-items-center justify-content-end pr-4">
            <div>
                <a class="icon-button d-block mx-auto" href="/message/conversation/{{aUser.sent_from.id}}">
                    <img src="{{ MEDIA_URL }}icons/right_arrow_icon.png" class="right_arrow_icon" />
                </a>
                <small>Message</small>
            </div>
        </div>
    </div>
    <hr>
</div>
{% endfor %}

<h6 class="ml-3">Created Events</h6>
<hr class="mb-0">

{% if not created_events %}
<p class="px-3 pt-3">You haven't created any events yet!</p>
<hr class="mb-0">
{% endif %}

{% for event in created_events %}

<div class="col-12 m-0 p-0 pt-3">
    <div class="row m-0 p-0">
        <div class="col-3 m-0 p-0 pl-3">
            <a href="/user/view_user_profile/{{aUser.id}}">
                {% if aUser.profile_image %}
                <img src="{{ MEDIA_URL }}{{aUser.profile_image}}" class="user-image">
                {% else %}
                <img src="{{ MEDIA_URL }}user-image.png" class="user-image">
                {% endif %}
            </a>
        </div>
        <div class="col-5 m-0 p-0">
            <a href="/user/view_user_profile/{{aUser.id}}">
                <h5 class="text-dark">{{ event.title }}{% if aUser.username == user.username %} <span
                        class="text-secondary">(You!)</span>{% endif %}</h5>
                <h5 class="text-dark">{{ aUser.last_name }}</h5>
            </a>
        </div>
        <div class="col-4 m-0 p-0 d-flex align-items-center justify-content-end pr-4">
            <div>
                <a class="icon-button d-block mx-auto" href="/message/conversation/{{aUser.id}}">
                    <img src="{{ MEDIA_URL }}icons/right_arrow_icon.png" class="right_arrow_icon" />
                </a>
                <small>Event</small>
            </div>
        </div>
        <div class="col-4 m-0 p-0 pt-3">
            <p class="m-0 text-center">Attending</p>
            <p class="m-0 text-center">{{ event.participants.count }}</p>
        </div>
        <div class="col-4 m-0 p-0 pt-3">
            <p class="m-0 text-center">Waiting Left</p>
        </div>
        <div class="col-4 m-0 p-0 pt-3">
            <p class="m-0 text-center">Event Date</p>
        </div>
    </div>
    <hr class="mb-0">
</div>

{% endfor %}

<h6 class="ml-3 mt-3">Invited Events</h6>
<hr class="mb-0">

{% if not invited_events %}
<p class="px-3 pt-3">You haven't been invited to any events yet!</p>
{% endif %}

{% for event in invited_events %}

<div class="col-12 m-0 p-0 pt-3">
    <div class="row m-0 p-0">
        <div class="col-3 m-0 p-0 pl-3">
            <a href="/user/view_user_profile/{{aUser.id}}">
                {% if aUser.profile_image %}
                <img src="{{ MEDIA_URL }}{{aUser.profile_image}}" class="user-image">
                {% else %}
                <img src="{{ MEDIA_URL }}user-image.png" class="user-image">
                {% endif %}
            </a>
        </div>
        <div class="col-5 m-0 p-0">
            <a href="/user/view_user_profile/{{aUser.id}}">
                <h5 class="text-dark">{{ event.title }}{% if aUser.username == user.username %} <span
                        class="text-secondary">(You!)</span>{% endif %}</h5>
                <h5 class="text-dark">{{ aUser.last_name }}</h5>
            </a>
        </div>
        <div class="col-4 m-0 p-0 d-flex align-items-center justify-content-end pr-4">
            <div>
                <a class="icon-button d-block mx-auto" href="/message/conversation/{{aUser.id}}">
                    <img src="{{ MEDIA_URL }}icons/right_arrow_icon.png" class="right_arrow_icon" />
                </a>
                <small>Event</small>
            </div>
        </div>
        <div class="col-4 m-0 p-0 pt-3">
            <p class="m-0 text-center">Attending</p>
            <p class="m-0 text-center">{{ event.participants.count }}</p>
        </div>
        <div class="col-4 m-0 p-0 pt-3">
            <p class="m-0 text-center">Waiting Left</p>
        </div>
        <div class="col-4 m-0 p-0 pt-3">
            <p class="m-0 text-center">Event Date</p>
        </div>
    </div>
    <hr class="mb-0">
</div>

{% endfor %}

{% endblock %}