{% extends 'base.html' %}

{% block title %}
Event Menu | Family Organiser
{% endblock %}

{% block content %}
<div class="row m-0 p-2">
    <div class="col-12 m-0 p-0">
        <p class="m-0 p-0 text-right">Event - Menu</p>
    </div>
</div>

<!-- Event navigation -->
<div class="row m-0 p-0 py-3 mini-navigation-container">
    <div class="col-6 m-0 p-0 d-flex justify-content-center">
        <a href="/event/menu">
            <button class="btn border mini-navigation-button mini-navigation-active">
                <img src="{{ MEDIA_URL }}icons/schedule_icon.png" class="small-icon" />
                <small>Events</small>
            </button>
        </a>
    </div>
    <div class="col-6 m-0 p-0 d-flex justify-content-center">
        <a href="/event/create_event">
            <button class="btn border mini-navigation-button">
                <img src="{{ MEDIA_URL }}icons/schedule_icon.png" class="small-icon" />
                <small>Create Event</small>
            </button>
        </a>
    </div>
</div>

<hr class="mt-0">

<h5 class="ml-3 mt-3">Events</h5>
<hr class="mb-0">

{% if not events %}
<p class="px-3 pt-3">Your not waiting on any events yet. Be the first to create one!</p>
{% endif %}

<div class="row m-0 p-0">
    {% for event in events %}
    <div class="col-12 col-md-6 m-0 py-3 px-1 px-md-3">
        <div class="card border">
            <div class="card-header">{{ event.event_date |date:" M d, Y "}}</div>
            <div class="card-body">
                <h5 class="card-title">{{ event.title }}</h5>
                <p class="card-text">{{ event.information }}</p>
            </div>
            <hr class="m-0">
            <div class="row m-0 p-0">
                <div class="col-6 m-0 p-0 pt-3 pl-3">
                    <p class="m-0 "><b>Attending</b></p>
                    <p class="m-0 ">{{ event.participants.count }}</p>
                </div>
                <div class="col-6 m-0 p-0 pt-3 pl-3">
                    <p class="m-0 "><b>Count Down</b></p>
                    <p class="m-0 ">{{ event.count_down }}</p>
                </div>
                <div class="col-12 m-0 p-0">
                    <hr>
                </div>
                <div class="col-6 m-0 p-0 pl-3">
                    {% if user.username == event.event_creator.username %}
                    <small class="m-0">Created by: You</small>
                    {% else %}
                    <small class="m-0">Created by: {{event.event_creator}}</small>
                    {% endif %}
                </div>
                <div class="col-6 m-0 p-0 d-flex align-items-center justify-content-end pr-4 pb-2">
                    <div>
                        <a class="icon-button d-block mx-auto" href="/event/event/{{event.id}}">
                            <img src="{{ MEDIA_URL }}icons/right_arrow_icon.png" class="right_arrow_icon" />
                        </a>
                        <small>Event</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}