{% extends 'base.html' %}
{% load static %}

{% block title %}
News Feed | Family Organiser
{% endblock %}

{% block content %}

<div class="row m-0 p-2">
    <div class="col-12 m-0 p-0">
        <p class="m-0 p-0 text-right">News Feed</p>
    </div>
</div>

<!-- Shopping navigation -->
<div class="row m-0 p-0 py-3 mini-navigation-container">
    <div class="col-12 m-0 p-0 d-flex justify-content-center">
        <a href="#status-form-container" data-toggle="collapse">
            <button class="btn border mini-navigation-button ">
                <img src="{{ MEDIA_URL }}icons/add_status_icon.png" class="small-icon"/>
                <small>Create Post</small>
            </button>
        </a>
    </div>
</div>

<hr class="my-0">

<form action="/status/update_status/add/0/news_feed" method="POST" enctype="multipart/form-data" class="p-3 pt-4 collapse status-form" id="status-form-container">
    {% csrf_token %}
        {{ status_form }}
        <button class="btn btn-success float-right" id="send-button">Post</button>
        <div id="error-container" class="mt-1 pb-3"></div> 
        
    </form>

<hr class="status-divider">
<div class="row m-0 p-0">
    {% if not news_feed %}
    <div class="col-12">
        <p>There are currently no posts! Be the first to create a post, or <a href="/user/find_users">Find Users</a></p>
    </div>
    {% endif %}
    {% for news in news_feed %}
    <div class="col-12 m-0 p-0">
        <div class="row m-0 p-0">
            <div class="col-12 m-0 p-0 pl-3">
                <a href="/user/view_user_profile/{{news.user.id}}">
                    {% if news.user_profile.profile_image %}
                    <img src="{{ MEDIA_URL }}{{news.user_profile.profile_image}}" class="user-image-status float-left mr-3">
                    {% else %}
                    <img src="{{ MEDIA_URL }}user-image.png" class="user-image-status float-left mr-3">
                    {% endif %}
                    <h5 class="text-dark">{{ news.user.first_name }} {{ news.user.last_name }} </h5>
                </a>
                <h6 class="text-secondary">{{ news.title }}</h6>

            </div>
            <div class="col-12 mb-3 mt-2">
                <hr class="m-0 mb-3">
                <p class="m-0">{{ news.content }}</p>
                <hr class="m-0 mt-3">
            </div>
            {% if news.image %}
            <div class="col-12 mb-3">
                <img src="{{ MEDIA_URL }}{{news.image}}" class="status-image">
            </div>
            {% endif %}
            <div class="col-6 m-0 p-0 pl-3 d-flex align-items-end">
                <div>
                    <p class="m-0 text-small"><span id="like-count-{{ news.id }}">{{ news.likes }}</span> Likes
                        {{ news.comment.all | length }} Comments</p>
                    <p class="m-0 text-small">{{ news.created_date }}</p>
                </div>
            </div>
            <div class="col-6 m-0 p-0 d-flex align-items-center justify-content-end pr-4">
                <a class="icon-button mr-3" href="#comment-form-container-{{news.id}}" data-toggle="collapse">
                    <img src="{{ MEDIA_URL }}icons/comment_icon.png" />
                </a>
                <!-- like post icons -->
                {% if user in news.liked_by.all %}
                <form action="/status/like_status/{{news.id}}" method="POST" class="status-like-ajax"
                    id="{{ news.id }}">
                    {% csrf_token %}
                    <button class="icon-button" type="submit">
                        <img src="{{ MEDIA_URL }}icons/heart_pink_icon.png" id="like-img-{{ news.id }}" />
                    </button>
                </form>
                {% else %}
                <form action="/status/like_status/{{news.id}}" method="POST" class="status-like-ajax"
                    id="{{ news.id }}">
                    {% csrf_token %}
                    <button class="icon-button" type="submit">
                        <img src="{{ MEDIA_URL }}icons/heart_white_icon.png" id="like-img-{{ news.id }}" />
                    </button>
                </form>
                {% endif %}
            </div>
            <div class="col-12">
                <hr class="mb-1">
            </div>
            <div class="col-12 p-2 mt-1 collapse" id="comment-form-container-{{news.id}}">
                <form class="d-flex justify-content-between status-comment-ajax"
                    action="/status/add_comment/{{news.id}}/profile" id="{{ news.id }}" method="POST">
                    {% csrf_token %}
                    <input type="text" class="form-control" name="comment" id="input-{{ news.id }}" required>
                    <button class="btn btn-success ml-3">Comment</button>
                </form>
            </div>
            <div class="col-12 m-0 p-0">
                <div class="row m-0 p-0" id="comment-container-{{ news.id }}">
                    {% for comment in news.comment.all %}
                    {% if forloop.counter <= 2 %}
                    <div class="col-12 px-2 py-1">
                        <div class="comment-container">
                            <a href="/user/view_user_profile/{{comment.author.id}}">
                                {% if comment.author_profile.profile_image %}
                                <img src="{{ MEDIA_URL }}{{comment.author_profile.profile_image}}" class="float-left mr-2">
                                {% else %}
                                <img src="{{ MEDIA_URL }}user-image.png" class="float-left mr-2">
                                {% endif %}
                                <h6 class="m-0 mb-1 text-dark">{{ comment.author.first_name }} {{ comment.author.last_name }}</h6>
                            </a>
                            <p class="m-0">{{ comment.comment }}</p>
                            <p class="m-0 text-small text-right">{{ comment.created_date }}</p>
                        </div>
                    </div>
                    {% endif %}
                    {% if forloop.counter > 2 and forloop.last %}
                    <div class="col-12 d-flex justify-content-end mt-2">
                        <a href="/status/view_status/{{news.id}}" class="text-theme">View More</a>
                    </div>
                    {% endif  %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <hr class="status-divider">
    </div>
    {% endfor %}
</div>
<p class="m-0 mt-2 pb-4 text-right mr-3">Search Result: {{ news_feed | length }}</p>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/forms.js' %}"></script>
<script>
    // like post
    $(document).ready(function (event) {
        var tl = gsap.timeline()
        var theForm = $('.status-like-ajax');
        var addLike = true;

        theForm.submit(function (event) {
            event.preventDefault();
            if (addLike) {
                addLike = false
                var formId = this.id
                var thisForm = $(this)
                var actionEndpoint = thisForm.attr("action");
                var httpMethod = thisForm.attr("method");
                var formData = thisForm.serialize();
                var imgId = '#like-img-' + formId;
                var likeCounterId = '#like-count-' + formId;

                tl.to(imgId, 0.2, { transform: 'rotateY(180deg)', ease: 'none' })
                tl.to(imgId, 0.2, { transform: 'rotateY(0deg)', ease: 'none' })

                if ($(imgId).attr('src') == "{{ MEDIA_URL }}icons/heart_pink_icon.png") {
                    $(imgId).attr('src', '{{ MEDIA_URL }}icons/heart_white_icon.png')
                    $(likeCounterId).html(parseInt($(likeCounterId).html()) - 1)
                } else {
                    $(imgId).attr('src', "{{ MEDIA_URL }}icons/heart_pink_icon.png")
                    $(likeCounterId).html(parseInt($(likeCounterId).html()) + 1)
                }

                $.ajax({
                    url: actionEndpoint,
                    method: httpMethod,
                    data: formData,
                    success: function (data) {
                        addLike = true;
                    }
                })
            }
        })

        // add comment
        var theForm = $('.status-comment-ajax');
        var addComment = true;

        theForm.submit(function (event) {
            event.preventDefault();
            if (addComment) {
                addComment = false;

                var formId = this.id
                var thisForm = $(this)
                var actionEndpoint = thisForm.attr("action");
                var httpMethod = thisForm.attr("method");
                var formData = thisForm.serialize();
                var commentContainerId = '#comment-container-'.concat(formId)
                var inputId = '#input-'.concat(formId)

                var comment = $(inputId).val()
                $(commentContainerId).append(`
                        <div class="col-12 px-2 py-1">
                            <div class="comment-container">
                                {% if user_profile.profile_image %}
                                <img src="{{ MEDIA_URL }}{{user_profile.profile_image}}" class="float-left mr-2">
                                {% else %}
                                <img src="{{ MEDIA_URL }}user-image.png" class="float-left mr-2">
                                {% endif %}
                                <h6 class="m-0 mb-1">{{ user.first_name }} {{ user.last_name }}</h6>
                                <p class="m-0">${comment}</p>
                                <p class="m-0 text-small text-right">Now</p>
                            </div>
                        </div>
                        `)
                $(inputId).val('')
                $.ajax({
                    url: actionEndpoint,
                    method: httpMethod,
                    data: formData,
                    success: function (data) {
                        addComment = true
                    }
                })
            }
        })
    });
</script>
{% endblock %}