{% extends 'base.html' %}
{% load static %}

{% block title %}
News Feed | Family Organiser
{% endblock %}

{% block content %}

<div class="row m-0 p-2">
    <div class="col-12 m-0 p-0">
        <p class="m-0 p-0 text-right">News Feed</p>
    </div>
</div>

<!-- create post -->
<div class="row m-0 p-0 py-3 mini-navigation-container">
    <div class="col-12 m-0 p-0 d-flex justify-content-center">
        <a href="#status-form-container" data-toggle="collapse">
            <button class="btn border mini-navigation-button ">
                <img src="{{ MEDIA_URL }}icons/add_status_icon.png" class="small-icon"/>
                <small>Create Post</small>
            </button>
        </a>
    </div>
</div>

<hr class="my-0">

<form action="/status/update_status/add/0/news_feed" method="POST" enctype="multipart/form-data" class="p-3 pt-4 collapse status-form" id="status-form-container">
    {% csrf_token %}
        {{ status_form }}
        <button class="btn btn-success float-right mt-3" id="send-button">Post</button>
        <div id="error-container" class="mt-1 pb-3"></div> 
        
    </form>

<hr class="status-divider">
{% include "includes/status.html" %}
<p class="m-0 mt-2 pb-4 text-right mr-3">Search Result: {{ news_feed | length }}</p>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/forms.js' %}"></script>
<script>
    // like post
    $(document).ready(function (event) {
        var tl = gsap.timeline()
        var theForm = $('.status-like-ajax');
        var addLike = true;

        theForm.submit(function (event) {
            event.preventDefault();
            if (addLike) {
                addLike = false
                var formId = this.id
                var thisForm = $(this)
                var actionEndpoint = thisForm.attr("action");
                var httpMethod = thisForm.attr("method");
                var formData = thisForm.serialize();
                var imgId = '#like-img-' + formId;
                var likeCounterId = '#like-count-' + formId;

                tl.to(imgId, 0.2, { transform: 'rotateY(180deg)', ease: 'none' })
                tl.to(imgId, 0.2, { transform: 'rotateY(0deg)', ease: 'none' })

                if ($(imgId).attr('src') == "{{ MEDIA_URL }}icons/heart_pink_icon.png") {
                    $(imgId).attr('src', '{{ MEDIA_URL }}icons/heart_white_icon.png')
                    $(likeCounterId).html(parseInt($(likeCounterId).html()) - 1)
                } else {
                    $(imgId).attr('src', "{{ MEDIA_URL }}icons/heart_pink_icon.png")
                    $(likeCounterId).html(parseInt($(likeCounterId).html()) + 1)
                }

                $.ajax({
                    url: actionEndpoint,
                    method: httpMethod,
                    data: formData,
                    success: function (data) {
                        addLike = true;
                    }
                })
            }
        })

        // add comment
        var theForm = $('.status-comment-ajax');
        var addComment = true;

        theForm.submit(function (event) {
            event.preventDefault();
            if (addComment) {
                addComment = false;

                var formId = this.id
                var thisForm = $(this)
                var actionEndpoint = thisForm.attr("action");
                var httpMethod = thisForm.attr("method");
                var formData = thisForm.serialize();
                var commentContainerId = '#comment-container-'.concat(formId)
                var inputId = '#input-'.concat(formId)

                var comment = $(inputId).val()
                $(commentContainerId).append(`
                        <div class="col-12 px-2 py-1">
                            <div class="comment-container">
                                {% if user_profile.profile_image %}
                                <img src="{{ MEDIA_URL }}{{user_profile.profile_image}}" class="float-left mr-2">
                                {% else %}
                                <img src="{{ MEDIA_URL }}user-image.png" class="float-left mr-2">
                                {% endif %}
                                <h6 class="m-0 mb-1">{{ user.first_name }} {{ user.last_name }}</h6>
                                <p class="m-0">${comment}</p>
                                <p class="m-0 text-small text-right">Now</p>
                            </div>
                        </div>
                        `)
                $(inputId).val('')
                $.ajax({
                    url: actionEndpoint,
                    method: httpMethod,
                    data: formData,
                    success: function (data) {
                        addComment = true
                    }
                })
            }
        })
    });
</script>
{% endblock %}