{% extends 'base.html' %}

{% block title %}
Premium | Family Organiser
{% endblock %}

{% block content %}

<div class="row m-0 p-2">
    <div class="col-12 m-0 p-0">
        <p class="m-0 p-0 text-right">Premium Info</p>
    </div>
</div>

<div class="row m-0 p-0">
    <div class="col-12">
        <h3>Premium Feature</h3>
        <p class="m-0">You have selected a premium feature but you don't have a premium account, for a one time payment, premium users will gain access to the following:</p>
        <div class="row m-0 p-0">
            <div class="col-12 m-0 p-0 d-flex justify-content-end">
                <a class="btn btn-success" href="/premium/make_payment">Upgrade £1.99</a>
            </div>
        </div>
        <hr>
        <h4>Updates</h4>
        <p>Get the newest features that will be coming soon, and keep getting more for your money. For a limited time only!</p>
        <hr>
        <h4 class="my-3">Shopping</h4>
        <h5>Insight</h5>
        <p>View your shopping habbits, bar charts for your top purchased items, line graphs to see if you can reduce the quanity of junk food and increase the amount of nutritious foods your family consume.</p>
        <h5>Shopping Partner</h5>
        <p>Invite members to help with the shopping, share the same shopping list to keep comunication easy and make sure to never run out of the essentials. </p>
        <hr>
        <h4 class="my-3">To Do</h4>
        <h5>Inivte Members</h5>
        <p>Forget to put the bins out? Invite memebers to complete errands together to make sure you never forget.</p>
        <hr>
        <h4 class="my-3">Events</h4>
        <h5>Google Calendar</h5>
        <p>Book event to users and save it to your google calender to make sure you don't forget.</p>
    </div>
</div>


{% endblock %}

