.page-container {
    min-height: 100vh;
    max-width: 1100px;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    display: block;
    border-right: none;
    border-left: none;
    background-color: white;
    overflow-x: hidden;
}

.nav-margin-space {
    height: 48px;
}

@media (min-width: 900px) {
    .page-container {
        border-right: solid 1px rgb(194, 194, 194);
    border-left: solid 1px rgb(194, 194, 194);
    }
}