.page-container {
    min-height: 100vh;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    display: block;
    border-right: none;
    border-left: none;
    background-color: white;
}

.content-container {
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
}

.desktop-navigation {
    width: 500px;
    background-color: white;
}

.content-wrapper {
    width: 100%;
    position: relative;
}

.page-update {
    width: 350px;
    background-color: white;
}




.nav-margin-space {
    height: 48px;
}

@media (min-width: 900px) {
    .page-container {
        border-right: solid 1px rgb(194, 194, 194);
        border-left: solid 1px rgb(194, 194, 194);
    }
}
