.page-container {
    background-color: white;
}

.nav-margin-space {
    height: 48px;
}

@media (min-width: 900px) {
    .page-container {
        border-right: solid 1px rgb(194, 194, 194);
    border-left: solid 1px rgb(194, 194, 194);
    }
}