.home-container {
    width: 100vw;
    overflow-x: hidden;
}

.illustration {
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
    margin-bottom: 45px;
}

.big-text {
    font-size: 1.4em;
}

footer {
    border-top: solid rgb(192, 192, 192) 1px;
    padding-top: 20px;
}