nav {
    background: $navigation-colour;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 555;
}

.burger-container {
    margin-right: 5px;
    cursor: pointer;
    div {
        height: 4px;
        width: 30px;
        background-color: black;
        margin-top: 5px;
        margin-bottom: 5px;
        border-radius: 3px;
    }
}

.mobile-navigation-links {
    z-index:55;
    height: 100vh;
    width: 50vw;
    position: fixed;
    top: 0;
    right: -50vw;
    list-style: none;
    padding: 0;
    margin: 0;
    li {
        padding: 0;
        a {
            padding: 10px 5px;
            display: block;
            width: 100%;
            color: black;
        }
    }
}
