.user-image-status {
    height: 55px;
    width: 55px;
    border-radius: 15px;
    box-shadow: 2px 2px 12px 1px rgba(0,0,0,0.1);
}

.status-image {
    height: 300px;
    width: 100%;
    object-fit: cover;
    border-radius: 4px;
    box-shadow: 2px 2px 12px 1px rgba(0,0,0,0.1);
}