.notification-container {
    background: $theme-colour-gradient;
    border-radius: 0px 5px 50% 0;
    div {
        position: relative;
        width: 30px;
        height: 30px;
    }
   
    img {
        position: absolute;
        top: 0px;
    }
    p {
        background-color: red;
        color: white;
        border-radius: 50%;
        width: 14px;
        height: 14px;
        font-weight: 700;
        margin:0;
        padding: 0;
        font-size: 10px;
        position: absolute;
        top: 14px;
        right: 0px;
        text-align: center;
    }
}

// profile details section
.profile-details-container {
    position: relative;
    a {
        position: absolute;
        left: 87px;
        top: 72px;
        background-color: lighten($theme-colour, 15%);
        width: 25px;
        height: 25px;
        text-align: center;
        border-radius: 50%;
        color: white;
        font-size: 1.2em;
        line-height: 25px;
        font-weight: 500;
        &:focus,&:active,&:hover {
            text-decoration: none;
            color: white;
        }
    }
}

// svg background image
.profile-background-image {
    width: 100%;
    position: absolute;
    top: 140px;
    z-index: -5;
}

.profile-background-image-light {
    width: 100%;
    position: absolute;
    top: 170px;
    z-index: -4;
}

// profile and notifications section
.profile-info-height {
    height: 150px
}

.profile-image {
    height: 90px;
    width: 90px;
    border-radius: 15px;
    float: left;
    margin-right: 15px;
    box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.13);
    object-fit: cover;
}


// add data section
.add-data-container {
    padding-top: 10px;
    padding-right: 30px;
    overflow: auto;
    white-space: nowrap;
    a {
        cursor: pointer;
        display: inline-block;
        color: black;
        width: 45px;
        margin-left: 25px;
        &:active,&:focus {
            text-decoration: none;
        }
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            padding: 5px;
            padding-bottom: 0;
            height: 35px;
            background: radial-gradient(circle, rgba(255,255,255,0.5) 0%, rgba(209,209,209,0) 80%);
        }
        label {
            display: block;
            text-align: center;
            color: white;
        }
    }
}

// data form container
#add-data-form-container {
    height: 370px;
}


// user shopping list and status
.profile-page-container {
    position: fixed;
    top: 237px;
    height: calc(100vh - 237px);
    right: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 5px 29px 2px rgba(0,0,0,0.3);
    border-radius: 23px 23px 0px 0px;
    padding: 0px;
    overflow-x: scroll;
}

#add-button {
    cursor: pointer;
    z-index: 100;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    font-size: 45px;
    font-weight: 800;
    border: none;
    background: $theme-colour-gradient;
    box-shadow: 2px 5px 6px 1px rgba(0,0,0,0.12);
    span {
        position: relative;
        bottom: 15px;
        color: white;
    }
    &:focus {
        outline:none;
    }
}

.send-button-status {
    z-index: 100;
    position: fixed;
    border-radius: 50%;
    bottom: 20px;
    right: 90px;
    height: 50px;
    width: 50px;
    border: none;
    background: $theme-colour-gradient;
    transform: translate(0px, 80px);
    &:focus {
        outline:none;
    }
    img {
        width: 38px;
        height: 38px;
    }
}

@media (min-width: 321px) {
    .profile-background-image {
        top: 80px;
    }
    .profile-background-image-light {
        top: 110px;
    }
}