.add-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    font-size: 45px;
    font-weight: 800;
    border: none;
    background: $theme-colour-gradient;
    box-shadow: 2px 5px 6px 1px rgba(0,0,0,0.12);
    span {
        position: relative;
        bottom: 16px;
        color: white;
    }
}