@import 'colours';
@import 'navigation';
@import 'base';
@import 'profile';
@import 'news_feed';
@import 'shopping_page';
@import 'allauth';

body {
    width: 100vw;
    overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6,label {
    font-family: 'Merriweather', serif;
    font-size: 0.9em;
}

p,a,b {
    font-family: 'Roboto', sans-serif; 
    font-size: 0.9em;
    color: black;
}


.text-small {
    font-size: 0.7em;    
}

.text-theme {
    color: darken($theme-colour, 25%);
}

// buttons
.btn-success {
    background: linear-gradient(darken($theme-colour, 8%), darken($theme-colour, 20%));
    border: none;
}

// icons
.far {
    font-size: 14px;
}

.fas {
    font-size: 18px;
}

.icon-button {
    border-radius: 11px;
    background-color: white;
    box-shadow: 0px 3px 6px 1px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border: none;
    img {
        width: 29px;
    }
    &:focus {
        outline: none;
    }
}

.small-icon {
    width: 27px;
}

.icon-warning {
    background-color: #ffeb88;
}

.icon-success {
    background-color: #bbff61;
}

.icon-danger {
    background-color: #f52525;
}

// images

.user-image {
    height: 65px;
    width: 65px;
    border-radius: 15px;
}

