@import 'colours';
@import 'navigation';
@import 'base';
@import 'profile';
@import 'find_users';

body {
    width: 100vw;
    overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Merriweather', serif;
}

p,a,b {
    font-family: 'Roboto', sans-serif; 
}

.bg-theme {
    background-color: $theme-colour;
}

.icon-button {
    border-radius: 8px;
    background-color: #FAFAFA;
    box-shadow: 0px 3px 6px 1px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
}

.icon-warning {
    background-color: #ffeb88;
}

.icon-success {
    background-color: #bbff61;
}

.icon-danger {
    background-color: #f52525;
}