nav {
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#FAFAFA));
  background: linear-gradient(#ffffff, #FAFAFA);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 555;
}

.logo {
  height: 40px;
  width: 40px;
}

#navigation-alpha-over {
  height: calc(100vh - 48px);
  width: 100vw;
  position: fixed;
  left: 0;
  top: 48px;
  z-index: 50;
  opacity: 0.5;
  background-color: white;
  -webkit-transform: translate(100vw, 0);
          transform: translate(100vw, 0);
}

.burger-container {
  margin-right: 5px;
  cursor: pointer;
}

.burger-container div {
  height: 4px;
  width: 30px;
  background-color: black;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 3px;
}

.desktop-navigation {
  list-style: none;
  width: 100%;
  text-align: center;
}

.desktop-navigation li {
  display: inline-block;
}

.nav-link {
  color: black;
}

.dropdown-item:hover {
  background-color: #daf5dc;
}

.mobile-navigation-links {
  background-color: #fafafa;
  z-index: 555;
  height: 100vh;
  width: 50vw;
  position: fixed;
  top: 0;
  right: -50vw;
  list-style: none;
  padding: 0;
  padding-top: 15px;
  margin: 0;
  -webkit-box-shadow: 0px 3px 15px 1px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 3px 15px 1px rgba(0, 0, 0, 0.14);
  -webkit-transform: translate(10vw, 0);
          transform: translate(10vw, 0);
}

.mobile-navigation-links h6 {
  margin-left: 15px;
  margin-bottom: 13px;
}

.mobile-navigation-links .logout-item {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  padding-bottom: 58px;
}

.mobile-navigation-links .logout-item a {
  color: white;
}

.mobile-navigation-links .logout-item .logout-background-image {
  position: absolute;
  bottom: 0;
  z-index: -5;
}

.mobile-navigation-links li {
  padding: 0;
  margin: 0;
  background-color: #fafafa;
}

.mobile-navigation-links li a {
  padding: 10px 10px;
  display: block;
  width: 100%;
  color: black;
}

.mobile-navigation-links li a:focus, .mobile-navigation-links li a:hover {
  text-decoration: none;
}

.mobile-navigation-links li a img {
  height: 32px;
}

.mini-navigation-container {
  border-top: solid rgba(0, 0, 0, 0.1) 1px;
  background-color: #f8f9fa;
}

.mini-navigation-button {
  background-color: white;
}

.mini-navigation-active {
  background-color: #fdfdfd;
  -webkit-box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, 0.1);
}

.page-container {
  min-height: 100vh;
  max-width: 1100px;
  height: 100%;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  display: block;
  border-right: none;
  border-left: none;
  background-color: white;
}

.nav-margin-space {
  height: 48px;
}

@media (min-width: 900px) {
  .page-container {
    border-right: solid 1px #c2c2c2;
    border-left: solid 1px #c2c2c2;
  }
}

.notification-container {
  background: linear-gradient(120deg, #64da6a, #30bd5a);
  border-radius: 0px 5px 50% 0;
}

.notification-container div {
  position: relative;
  width: 30px;
  height: 30px;
}

.notification-container img {
  position: absolute;
  top: 0px;
}

.notification-container p {
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  font-size: 10px;
  position: absolute;
  top: 14px;
  right: 0px;
  text-align: center;
}

.profile-details-container {
  position: relative;
}

.profile-details-container a {
  position: absolute;
  left: 87px;
  top: 72px;
  background-color: #8adf8f;
  width: 25px;
  height: 25px;
  text-align: center;
  border-radius: 50%;
  color: white;
  font-size: 1.2em;
  line-height: 25px;
  font-weight: 500;
}

.profile-details-container a:focus, .profile-details-container a:active, .profile-details-container a:hover {
  text-decoration: none;
  color: white;
}

.profile-background-image {
  width: 100%;
  position: absolute;
  top: 125px;
  z-index: 0;
}

.profile-background-image-light {
  width: 100%;
  position: absolute;
  top: 155px;
  z-index: 0;
}

.profile-bio-form-container {
  z-index: 0;
  position: absolute;
  width: 100%;
}

.profile-info-height {
  height: 150px;
}

.profile-image {
  height: 90px;
  width: 90px;
  border-radius: 10px;
  float: left;
  margin-right: 15px;
  -webkit-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.13);
          box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.13);
  -o-object-fit: contain;
     object-fit: contain;
}

.add-data-container {
  padding-top: 10px;
  padding-right: 30px;
  overflow: auto;
  white-space: nowrap;
}

.add-data-container a {
  cursor: pointer;
  display: inline-block;
  color: black;
  width: 45px;
  margin-left: 25px;
}

.add-data-container a:active, .add-data-container a:focus {
  text-decoration: none;
}

.add-data-container a img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  padding-bottom: 0;
  height: 45px;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.5) 0%, rgba(209, 209, 209, 0) 80%);
}

.add-data-container a label {
  display: block;
  text-align: center;
  color: white;
}

#add-data-form-container {
  height: 370px;
}

.shopping-item-container {
  overflow: auto;
  white-space: nowrap;
  padding: 8px;
}

.shopping-item-container form {
  display: inline-block;
}

.shopping-item-container .shopping-item {
  border: #4ecf55 1px solid;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  padding: 8px 30px;
  border-radius: 7px;
  background: -webkit-gradient(linear, left top, left bottom, from(#a0f088), to(#56da82));
  background: linear-gradient(#a0f088, #56da82);
  position: relative;
  margin-right: 9px;
  -webkit-box-shadow: 3px 3px 8px 1px rgba(0, 0, 0, 0.08);
          box-shadow: 3px 3px 8px 1px rgba(0, 0, 0, 0.08);
}

.shopping-item-container .shopping-item p {
  color: black;
  font-size: 1.1em;
  position: relative;
  top: 2px;
}

.shopping-item-container .shopping-item div {
  width: 25px;
  height: 25px;
  background-color: white;
  border-radius: 7px;
  position: absolute;
  right: -5px;
  bottom: -5px;
  -webkit-box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.05);
          box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.05);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.8em;
}

.shopping-item-container .shopping-item .item-username {
  position: absolute;
  top: 0;
  right: 4px;
  font-size: 0.7em;
}

.shopping-item-container .shopping-item .category {
  position: absolute;
  left: 3px;
  top: 0px;
  font-size: 9px;
}

.profile-page-container {
  -webkit-transform: translate(0, 188px);
          transform: translate(0, 188px);
  z-index: 20;
  background-color: white;
  -webkit-box-shadow: 0px 5px 30px 3px rgba(0, 0, 0, 0.34);
          box-shadow: 0px 5px 30px 3px rgba(0, 0, 0, 0.34);
  border-radius: 23px 23px 0px 0px;
  border-top: 15px solid white;
  padding: 0px;
  min-height: 70vh;
}

.profile-view-page-container {
  -webkit-transform: translate(0, 8px);
          transform: translate(0, 8px);
}

#add-button {
  cursor: pointer;
  z-index: 100;
  position: fixed;
  bottom: 18px;
  right: 18px;
  border-radius: 50%;
  height: 65px;
  width: 65px;
  border: none;
  background: linear-gradient(120deg, #64da6a, #30bd5a);
  -webkit-box-shadow: 2px 5px 6px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 2px 5px 6px 1px rgba(0, 0, 0, 0.12);
  color: white;
  padding: 0;
}

#add-button:focus {
  outline: none;
}

#add-button img {
  width: 85px;
  position: relative;
  right: 10px;
  bottom: 11px;
}

.send-button {
  z-index: 100;
  position: fixed;
  border-radius: 50%;
  bottom: 20px;
  right: 100px;
  height: 65px;
  width: 65px;
  border: none;
  background: linear-gradient(120deg, #64da6a, #30bd5a);
  -webkit-transform: translate(0px, 100px);
          transform: translate(0px, 100px);
}

.send-button:focus {
  outline: none;
}

.send-button img {
  width: 81px;
  height: 85px;
  position: relative;
  right: 10px;
  bottom: 11px;
}

@media (min-width: 321px) {
  .profile-background-image {
    top: 120px;
  }
  .profile-background-image-light {
    top: 150px;
  }
}

@media (min-width: 355px) {
  .profile-background-image {
    top: 105px;
  }
  .profile-background-image-light {
    top: 135px;
  }
}

@media (min-width: 375px) {
  .profile-background-image {
    top: 100px;
  }
  .profile-background-image-light {
    top: 130px;
  }
}

@media (min-width: 411px) {
  .profile-background-image {
    top: 80px;
  }
  .profile-background-image-light {
    top: 110px;
  }
}

@media (min-width: 460px) {
  .profile-background-image {
    top: 60px;
  }
  .profile-background-image-light {
    top: 90px;
  }
}

@media (min-width: 500px) {
  .profile-background-image {
    top: 50px;
  }
  .profile-background-image-light {
    top: 80px;
  }
}

@media (min-width: 550px) {
  .profile-background-image {
    top: 30px;
  }
  .profile-background-image-light {
    top: 60px;
  }
}

@media (min-width: 600px) {
  .profile-background-image {
    top: 10px;
  }
  .profile-background-image-light {
    top: 40px;
  }
}

@media (min-width: 640px) {
  .profile-background-image {
    top: 0px;
  }
  .profile-background-image-light {
    top: 30px;
  }
}

@media (min-width: 690px) {
  .profile-background-image {
    top: -30px;
  }
  .profile-background-image-light {
    top: 0px;
  }
}

@media (min-width: 768px) {
  .profile-background-image {
    top: 100px;
  }
  .profile-background-image-light {
    top: 130px;
  }
}

@media (min-width: 900px) {
  .profile-background-image {
    top: 60px;
  }
  .profile-background-image-light {
    top: 90px;
  }
}

@media (min-width: 1100px) {
  .profile-background-image {
    top: 45px;
  }
  .profile-background-image-light {
    top: 75px;
  }
  .profile-page-container {
    -webkit-box-shadow: 0px 5px 30px 3px rgba(0, 0, 0, 0);
            box-shadow: 0px 5px 30px 3px rgba(0, 0, 0, 0);
  }
}

@media (min-width: 1200px) {
  .profile-background-image {
    top: 10px;
  }
  .profile-background-image-light {
    top: 40px;
  }
}

.user-image-status {
  height: 55px;
  width: 55px;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 12px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 12px 1px rgba(0, 0, 0, 0.1);
}

.status-image {
  height: 300px;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 4px;
  -webkit-box-shadow: 2px 2px 12px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 12px 1px rgba(0, 0, 0, 0.1);
}

.comment-container {
  display: inline-block;
  border-radius: 18px;
  background-color: rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: inset 0px 0px 17px 1px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0px 0px 17px 1px rgba(0, 0, 0, 0.1);
  padding: 13px;
  min-width: 160px;
}

.comment-container img {
  width: 20px;
  height: 20px;
  border-radius: 6px;
}

.status-divider {
  height: 8px;
  background-color: #9ee5a2;
}

.link-item a .link-nav {
  color: black;
}

.shopping-table {
  border: solid #dadada 1px;
}

.shopping-table tr:nth-of-type(odd) {
  background-color: #fafafa;
}

.shopping-table tr:first-child {
  background-color: #c2efc5;
}

.shopping-table th {
  padding: 5px;
  width: 25%;
}

.shopping-table td {
  padding: 4px 8px;
}

.shopping-table img {
  width: 25px;
}

.icon-button .add-list-icon {
  width: 21px;
}

.button-no-style {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: none;
}

.StripeElement {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: white;
  -webkit-box-shadow: 0 1px 3px 0 #e6ebf1;
          box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  -webkit-transition: -webkit-box-shadow 150ms ease;
  transition: -webkit-box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease, -webkit-box-shadow 150ms ease;
}

.StripeElement--focus {
  -webkit-box-shadow: 0 1px 3px 0 #cfd7df;
          box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.home-container {
  overflow-x: hidden;
}

.illustration {
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 45px;
  margin-bottom: 45px;
}

.big-text {
  font-size: 1.4em;
}

footer {
  border-top: solid silver 1px;
  padding-top: 20px;
}

.message-container {
  padding: 11px;
  margin-bottom: 7px;
  -webkit-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.07);
          box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.07);
}

.message-container p {
  margin: 0;
}

.from-message-container {
  display: inline-block;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: #aae8ae;
  margin-left: 20px;
  border-radius: 8px 0px 8px 12px;
}

.to-message-container {
  background-color: #f1f1f1;
  margin-right: 20px;
  display: inline-block;
  border-radius: 0px 8px 12px 8px;
}

.login-container {
  padding-top: 40px;
  background-color: #6cf273;
  min-height: 680px;
  height: 85vh;
  position: relative;
  z-index: 0;
}

.login-container .login-background {
  position: absolute;
  width: 100vw;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;
}

.login-icon {
  width: 70px;
  height: 70px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.google-button {
  background-color: #fafafa;
  border-radius: 13px;
  padding: 10px;
  width: 200px;
  -webkit-box-shadow: 2px 2px 11px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 11px 0px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-form-wrapper {
  padding: 15px;
  background-color: white;
  border-radius: 30px 30px 0px 0px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.login-form-wrapper img {
  width: 39px;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  overflow-x: hidden;
  background-color: #daf5dc;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather', serif;
}

p, a, b, label {
  font-family: 'Roboto', sans-serif;
  font-size: 0.9em;
}

.text-small {
  font-size: 0.7em;
}

.text-theme {
  color: #227c27;
}

.btn-success {
  background: -webkit-gradient(linear, left top, left bottom, from(#34c03c), to(#27902d));
  background: linear-gradient(#34c03c, #27902d);
  border: none;
}

.btn:focus, .form-control:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(121, 255, 128, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(121, 255, 128, 0.25);
}

.far {
  font-size: 14px;
}

.far:hover {
  cursor: pointer;
}

.fas {
  font-size: 18px;
}

.fas:hover {
  cursor: pointer;
}

.icon-button {
  border-radius: 11px;
  background-color: white;
  -webkit-box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 32px;
  height: 32px;
  border: none;
}

.icon-button img {
  width: 29px;
}

.icon-button:focus {
  outline: none;
}

.icon-button .right_arrow_icon {
  position: relative;
  left: 3px;
  top: 1px;
}

.small-icon {
  width: 27px;
}

.add-list-icon-notification {
  position: relative;
  top: 3px !important;
  left: 6px;
  width: 21px;
}

.icon-warning {
  background-color: #ffeb88;
}

.icon-success {
  background-color: #bbff61;
}

.icon-danger {
  background-color: #f52525;
}

.user-image {
  height: 65px;
  width: 65px;
  border-radius: 10px;
}
/*# sourceMappingURL=style.css.map */