nav {
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#FAFAFA));
  background: linear-gradient(#ffffff, #FAFAFA);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 555;
}

.burger-container {
  margin-right: 5px;
  cursor: pointer;
}

.burger-container div {
  height: 4px;
  width: 30px;
  background-color: black;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 3px;
}

.mobile-navigation-links {
  background-color: #fafafa;
  z-index: 555;
  height: 100vh;
  width: 50vw;
  position: fixed;
  top: 0;
  right: -50vw;
  list-style: none;
  padding: 0;
  padding-top: 15px;
  margin: 0;
  -webkit-box-shadow: 0px 3px 15px 1px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 3px 15px 1px rgba(0, 0, 0, 0.14);
  -webkit-transform: translate(10vw, 0);
          transform: translate(10vw, 0);
}

.mobile-navigation-links h6 {
  margin-left: 15px;
  margin-bottom: 13px;
}

.mobile-navigation-links li {
  padding: 0;
  margin: 0;
  background-color: #fafafa;
}

.mobile-navigation-links li a {
  padding: 10px 10px;
  display: block;
  width: 100%;
  color: black;
}

.page-container {
  min-height: 100vh;
}

.nav-margin-space {
  height: 48px;
}

.profile-background-image {
  width: 100%;
  position: absolute;
  top: 140px;
  z-index: -5;
}

.profile-background-image-light {
  width: 100%;
  position: absolute;
  top: 170px;
  z-index: -4;
}

.profile-image {
  height: 90px;
  width: 90px;
  border-radius: 15px;
  border: solid grey 1px;
}

.add-data-container {
  padding-right: 30px;
  overflow: auto;
  white-space: nowrap;
}

.add-data-container a {
  cursor: pointer;
  display: inline-block;
  color: black;
  width: 50px;
  margin-left: 25px;
}

.add-data-container a img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.add-data-container a label {
  display: block;
  text-align: center;
}

.profile-page-container {
  background-color: white;
  -webkit-box-shadow: 0px 5px 29px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 5px 29px 2px rgba(0, 0, 0, 0.3);
  border-radius: 23px 23px 0px 0px;
  padding: 0px;
  -webkit-transform: translate(0, -64px);
          transform: translate(0, -64px);
}

.profile-page-container:after {
  display: block;
  position: relative;
  top: 60px;
  content: "";
  height: 70px;
  background-color: white;
}

#add-button {
  cursor: pointer;
  z-index: 100;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  font-size: 45px;
  font-weight: 800;
  border: none;
  background: linear-gradient(120deg, #80f886, #39E86D);
  -webkit-box-shadow: 2px 5px 6px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 2px 5px 6px 1px rgba(0, 0, 0, 0.12);
}

#add-button span {
  position: relative;
  bottom: 16px;
  color: white;
}

#add-button:focus {
  outline: none;
}

@media (min-width: 321px) {
  .profile-background-image {
    top: 80px;
  }
  .profile-background-image-light {
    top: 110px;
  }
}

.user-image {
  height: 65px;
  width: 65px;
  border-radius: 15px;
  border: solid grey 1px;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather', serif;
}

p, a, b {
  font-family: 'Roboto', sans-serif;
}

.icon-button {
  border-radius: 8px;
  background-color: #FAFAFA;
  -webkit-box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 32px;
  height: 32px;
}

.icon-warning {
  background-color: #ffeb88;
}

.icon-success {
  background-color: #bbff61;
}

.icon-danger {
  background-color: #f52525;
}
/*# sourceMappingURL=style.css.map */