{% extends 'base.html' %}

{% block title %}
Family | Family Organiser
{% endblock %}

{% block content %}

<div class="row m-0 p-2">
    <div class="col-12 m-0 p-0">
        <p class="m-0 p-0 text-right">Family</p>
    </div>
</div>
<hr>
<div class="row m-0 p-0">
    {% for member in friends %}
        <div class="col-12 m-0 p-0">
            <div class="row m-0 p-0">
                <div class="col-3 m-0 p-0 pl-3">
                    <img src="{{ MEDIA_URL }}user-image.png" class="user-image">
                </div>
                <div class="col-6 m-0 p-0">
                    <h5>{{ member.first_name }}</h5>
                    <h5>{{ member.last_name }}</h5>
                </div>
                <div class="col-3 m-0 p-0 d-flex align-items-center justify-content-end pr-4">
                    <a class="icon-button icon-danger" href="/user/update_friends/remove/{{member.id}}/0">
                        <img src="{{ MEDIA_URL }}icons/delete_icon.png" />
                    </a>
                </div>
            </div>
            <hr>
        </div>
    {% endfor %}
</div>
<a class="btn btn-success text-light float-right mr-3" href="/user/find_users">Find Users</a>
{% endblock %}