{% extends 'base.html' %}

{% block title %}
Family | Family Organiser
{% endblock %}

{% block content %}

<div class="row m-0 p-2">
    <div class="col-12 m-0 p-0">
        <p class="m-0 p-0 text-right">{{ requested_user.first_name }} {{ requested_user.last_name }}'s - Family</p>
    </div>
</div>
<hr>
<div class="row m-0 p-0">
    {% for member in friends %}
        <div class="col-12 m-0 p-0" >
            <div class="row m-0 p-0" >
                <div class="col-3 m-0 p-0 pl-3">
                    <a href="/user/view_user_profile/{{member.id}}">
                        {% if member.profile_image %}
                        <img src="{{ MEDIA_URL }}{{member.profile_image}}" class="user-image">
                        {% else %}
                        <img src="{{ MEDIA_URL }}user-image.png" class="user-image">
                        {% endif %}
                    </a>
                </div>
                <div class="col-6 m-0 p-0">
                    <a href="/user/view_user_profile/{{member.id}}" class="text-dark">
                    <h5>{{ member.first_name }}</h5>
                    <h5>{{ member.last_name }}</h5>
                </a>
                </div>
                {% if requested_user == user %}
                <div class="col-3 m-0 p-0 d-flex align-items-center justify-content-end pr-4">
                    <div class="dropdown">
                        <a class="icon-button float-right dropdown-toggle" type="button"
                        id="dropdownMenuOffset" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="-120,20">
                            <img src="{{ MEDIA_URL }}icons/delete_icon.png" />
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
                            <h6 class="text-center">Are you sure?</h6>
                            <a class="dropdown-item" href="/user/update_friends/remove/4/0">Remove Friend</a>
                          </div>
                    </div>
                </div>
                {% endif %}
            </div>
            <hr>
        </div>
    {% endfor %}
</div>
<a class="btn btn-success text-light float-right mr-3" href="/user/find_users">Find Users</a>
{% endblock %}