{% extends 'base.html' %}

{% block title %}
Find Users | Family Organiser
{% endblock %}

{% block content %}
<div class="row m-0 p-2">
    <div class="col-12 m-0 p-0">
        <p class="m-0 p-0 text-right">Find Users</p>
    </div>
</div>


<form action="/user/find_users/" method="GET" class="px-3">
    {% csrf_token %}
    <h3>Search</h3>
    <div class="container-fluid d-flex justify-content-between m-0 p-0">
        <input type="text" name="q" class="form-control d-inline" placeholder="Name / Username">
        <button class="btn btn-success ml-3">Find</button>
    </div>
</form>
<hr>
<div class="row m-0 p-0">
    {% for aUser in all_users %}
        
            <div class="col-12 m-0 p-0">
                <div class="row m-0 p-0">
                    <div class="col-3 m-0 p-0 pl-3">
                        <img src="/media/user-image.png" class="user-image">
                    </div>
                    <div class="col-6 m-0 p-0">
                        <h5>{{ aUser.first_name }}{% if aUser.username == user.username %} <span class="text-secondary">(You!)</span>{% endif %}</h5>
                        <h5>{{ aUser.last_name }}</h5>
                    </div>
                    <div class="col-3 m-0 p-0 d-flex align-items-center justify-content-end pr-4">
                        <a class="icon-button" href="/user/create_request/{{aUser.id}}">
                            <img src="https://img.icons8.com/carbon-copy/32/000000/add-user-male.png"/>
                        </a>
                        <!-- <a class="icon-button icon-warning">
                            <img src="https://img.icons8.com/cotton/19/000000/sent.png" class="px-2"/>
                        </a>
                        <a class="icon-button icon-success">
                            <img src="https://img.icons8.com/carbon-copy/32/000000/family.png" />
                        </a> -->
                    </div>
                </div>
                <hr>
            </div>
            
    {% endfor %}
</div>
<p class="m-0 mt-2 text-right mr-3">Search Result: {{ all_users | length }}</p>



{% endblock %}