{% extends 'base.html' %}

{% block title %}
Find Users | Family Organiser
{% endblock %}

{% block content %}
<div class="row m-0 p-2">
    <div class="col-12 m-0 p-0">
        <p class="m-0 p-0 text-right">Find Users</p>
    </div>
</div>


<form action="/user/find_users/" method="GET" class="px-3">
    {% csrf_token %}
    <h3>Search</h3>
    <div class="container-fluid d-flex justify-content-between m-0 p-0">
        <input type="text" name="q" class="form-control d-inline" placeholder="Name / Username">
        <button class="btn btn-success ml-3">Find</button>
    </div>
</form>
<hr>
<div class="row m-0 p-0">
    {% for aUser in searched_users %}

    <div class="col-12 m-0 p-0">
        <div class="row m-0 p-0">
            <div class="col-3 m-0 p-0 pl-3">
                <a href="/user/view_user_profile/{{aUser.id}}">
                    {% if aUser.user_profile.profile_image %}
                    <img src="{{ MEDIA_URL }}{{aUser.user_profile.profile_image}}" class="user-image">
                    {% else %}
                    <img src="{{ MEDIA_URL }}user-image.png" class="user-image">
                    {% endif %}
                </a>
            </div>
            <div class="col-5 m-0 p-0">
                <a href="/user/view_user_profile/{{aUser.id}}">
                    <h5 class="text-dark">{{ aUser.first_name }}{% if aUser.username == user.username %} <span
                            class="text-secondary">(You!)</span>{% endif %}</h5>
                    <h5 class="text-dark">{{ aUser.last_name }}</h5>
                </a>
            </div>
            <div class="col-4 m-0 p-0 d-flex align-items-center justify-content-end pr-4">
                {% if not aUser.username == user.username %}
                    {% if not aUser.username in friends %}
                        {% if not aUser.username in friend_request_sent %}
                        <!-- Send a friend request -->
                        <div>
                            <a class="icon-button d-block mx-auto" href="/user/create_request/{{aUser.id}}">
                                <img src="{{ MEDIA_URL }}icons/add_user_icon.png" />
                            </a>
                            <small>Add User</small>
                        </div>
                           
                        {% else %}
                        <!-- friend request pending -->
                        <div>
                            <div class="icon-button d-block mx-auto">
                                <img src="{{ MEDIA_URL }}icons/timer_icon.png" />
                            </div>
                            <small>Request Pending</small>
                        </div>
                            
                        {% endif %}
                    {% else %}
                        <!-- if users are already friends -->
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <hr>
    </div>

    {% endfor %}
</div>
<p class="m-0 mt-2 text-right mr-3">Search Result: {{ searched_users | length }}</p>



{% endblock %}