{% extends 'base.html' %}

{% block title %}
Requests | Family Organiser
{% endblock %}

{% block content %}

<div class="row m-0 p-2">
    <div class="col-12 m-0 p-0">
        <p class="m-0 p-0 text-right">Notifications</p>
    </div>
</div>

<hr>
<div class="row m-0 p-0">
    {% for request in friend_requests %}
        <div class="col-12 m-0 p-0">
            <div class="row m-0 p-0">
                {% if forloop.first %}
                <div class="col-12 m-0 p-0">
                    <h6 class="ml-3">Friend Requests</h6>
                    <hr>
                </div>
                {% endif %}
                <div class="col-3 m-0 p-0 pl-3">
                    <img src="{{ MEDIA_URL }}user-image.png" class="user-image">
                </div>
                <div class="col-6 m-0 p-0">
                    <h5>{{ request.from_user.first_name }}</h5>
                    <h5>{{ request.from_user.last_name }}</h5>
                </div>
                <div class="col-3 m-0 p-0 d-flex align-items-center justify-content-end pr-4">
                    <a class="icon-button mr-3" href="/user/update_friends/remove/{{request.from_user.id}}/{{request.id}}">
                        <img src="{{ MEDIA_URL }}icons/delete_icon.png" />
                    </a>
                    <a class="icon-button " href="/user/update_friends/add/{{request.from_user.id}}/{{request.id}}">
                        <img src="{{ MEDIA_URL }}icons/add_user_icon.png"/>
                    </a>
                </div>
            </div>
            <hr>
        </div>
    {% endfor %}
    {% for notification in notifications %}

        <!-- style the liked notification -->
        {% if notification.liker %}
            <div class="col-12 m-0 p-0">
                <div class="row m-0 p-0">
                    <div class="col-12">
                        <p class="m-0"><b>{{ notification.liker.first_name }} {{ notification.liker.last_name }}</b> has liked your post <b>"{{ notification.status.title }}"</b></p>
                    </div>
                    <div class="col-12 d-flex justify-content-between">
                        <p class="m-0 text-small">{{ notification.created_date }}</p>
                        <p class="m-0">View</p>
                    </div>
                </div>
                <hr>
            </div>
        {% else %}
            <!-- style the comment notification -->
            <div class="col-12 m-0 p-0">
                <div class="row m-0 p-0">
                    <div class="col-12">
                        <p class="m-0"><b>{{ notification.commenter.first_name }} {{ notification.commenter.last_name }}</b> has commented on your post <b>"{{ notification.status.title }}"</b></p>
                    </div>
                    <div class="col-12 d-flex justify-content-between">
                        <p class="m-0 text-small">{{ notification.created_date }}</p>
                        <p class="m-0">View</p>
                    </div>
                </div>
                <hr>
            </div>
        {% endif %}
    {% endfor %}
</div>

{% endblock %}