{% extends 'base.html' %}
{% load static %}
{% block content %}
<img src="/media/svg/add_data_background.svg" class="profile-background-image"></img>
<img src="/media/svg/add_data_background_light.svg" class="profile-background-image-light"></img>

<!-- profile and notifications section -->
<div class="row m-0 p-0">
    <div class="col m-0 p-0 d-flex justify-content-between">
        <div class="notification-container h-100 d-flex justify-content-center align-items-center px-3">
            <!-- <img src="https://img.icons8.com/carbon-copy/20/000000/chat-message.png" /> -->
            {% if friend_requests > 0 %}
            <div>
                <a href="/user/requests">
                    <img src="https://img.icons8.com/carbon-copy/27/000000/groups.png" />
                    <p>{{ friend_requests }}</p>
                </a>
            </div>
            {% else %}
            <b class="m-0 text-small">No notifications</b>
            {% endif %}

            <!-- <img src="https://img.icons8.com/carbon-copy/20/000000/shopping-basket.png" /> -->
        </div>

    </div>
    <div class="col m-0 p-2">
        <p class="m-0 p-0 text-right">Profile</p>
    </div>
</div>
<div class="row m-0 p-0 pt-3 profile-info-height">
    <div class="col-9 m-0 p-0 pl-3 profile-details-container">
        {% if user_profile.profile_image %}
            <img src="/media/{{user_profile.profile_image}}" class="profile-image">
        {% else %}
            <img src="/media/user-image.png" class="profile-image">
        {% endif %}

        <h5>{{ user.first_name }}</h5>
        <h5>{{ user.last_name }}</h5>
        <p>{{ user_profile.bio }}</p>
        <a href="/user/settings">+</a>
    </div>
    <div class="col-3 m-0 p-0 pb-2 d-flex justify-content-center align-items-end">
        <div>
            <h3 class="text-center text-white">{{ friend_count }}</h3>
            <h6 class="text-white">Family</h6>
        </div>
    </div>
</div>

<!-- Add data icons -->
<div class="add-data-container">
    <a href="/user/find_users">
        <img src="https://img.icons8.com/carbon-copy/35/000000/family.png" />
        <label>Users</label>
    </a>
    <a href="#">
        <img src="https://img.icons8.com/carbon-copy/35/000000/commercial.png" />
        <label>Status</label>
    </a>
    <a href="#">
        <img src="https://img.icons8.com/carbon-copy/35/000000/image.png" />
        <label>Photo</label>
    </a>
    <a href="#">
        <img src="https://img.icons8.com/carbon-copy/35/000000/ingredients.png" />
        <label>Item</label>
    </a>
    <a href="#">
        <img src="https://img.icons8.com/carbon-copy/35/000000/food.png" />
        <label>Dinner</label>
    </a>
    <a href="#">
        <img src="https://img.icons8.com/carbon-copy/35/000000/to-do.png" />
        <label>To Do</label>
    </a>
</div>

<!-- Add data forms container -->
<div id="add-data-form-container"></div>


<!-- users shopping list and status -->
<div class="profile-page-container">
    <div class="p-3">
        <h5>Shopping</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem harum neque eius nihil reprehenderit
            repellendus debitis voluptatum, soluta quo laboriosam quaerat, eaque error. Quam id veniam nam consequatur
            in, placeat exercitationem, quidem odit molestias atque vitae. Similique nemo, sequi earum accusamus
            consectetur, veritatis quaerat nihil aliquam aperiam hic alias doloremque!</p>
        <h5>Status</h5>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta omnis officiis repudiandae accusamus
            molestiae, asperiores eaque consequuntur voluptatem fugiat cumque iste iure cum repellat eligendi. Voluptate
            at qui voluptates nulla quia, quas a tempore incidunt labore quo, ad autem amet consectetur velit cupiditate
            ipsam quisquam dolorum laudantium ut obcaecati. Sunt?</p>
    </div>
</div>



<button id="add-button" class="closed">
    <span>+</span>
</button>


{% endblock %}

{% block extra_js %}
<script src="{% static 'js/profile.js' %}"></script>
{% endblock %}