{% extends 'base.html' %}
{% load static %}

{% block title %}
{% if friend_requests %}({{friend_requests}}){% endif %} {{user.first_name}} {{user.last_name}} | Family Organiser
{% endblock %}

{% block content %}

<!-- Users bio information modal -->
<div class="modal fade" id="exampleModal" tabindex="-10" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{ user.first_name }} {{ user.last_name }}'s Bio</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ user_profile.bio }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Okay</button>
            </div>
        </div>
    </div>
</div>


<div id="page-top"></div>
<img src="{{ MEDIA_URL }}svg/add_data_background.svg" class="profile-background-image d-md-none"></img>
<img src="{{ MEDIA_URL }}svg/add_data_background_light.svg" class="profile-background-image-light d-md-none"></img>
<img src="{{ MEDIA_URL }}svg/add_data_background_desktop.svg" class="profile-background-image d-none d-md-block"></img>
<img src="{{ MEDIA_URL }}svg/add_data_background_light_desktop.svg"
    class="profile-background-image-light d-none d-md-block"></img>

<div class="profile-bio-form-container">

    <!-- profile and notifications section -->
    <div class="row m-0 p-0">
        <div class="col m-0 p-0 d-flex justify-content-between">
            <div class="notification-container h-100 d-flex justify-content-center align-items-center px-3">
                <!-- friend request notification -->
                {% if friend_requests > 0 %}
                <div>
                    <a href="/user/notifications">
                        <img src="{{ MEDIA_URL }}icons/friend_request_icon.png" class="small-icon" />
                        <p>{{ friend_requests }}</p>
                    </a>
                </div>
                {% endif %}
                <!-- friend request accepted notification -->
                {% if user_profile.accepted_friend_notification > 0 %}
                <div>
                    <a href="/user/notifications">
                        <img src="{{ MEDIA_URL }}icons/friend_request_icon.png" class="small-icon" />
                        <p>{{ user_profile.accepted_friend_notification }}</p>
                    </a>
                </div>
                {% endif %}
                <!-- shopping partner request notification -->
                {% if partner_requests > 0 %}
                <div>
                    <a href="/user/notifications">
                        <img src="{{ MEDIA_URL }}icons/add_list_icon.png"
                            class="small-icon add-list-icon-notification" />
                        <p>{{ partner_requests }}</p>
                    </a>
                </div>
                {% endif %}
                <!-- status notification -->
                {% if user_profile.status_notification > 0 %}
                <div class="ml-2">
                    <a href="/user/notifications">
                        <img src="{{ MEDIA_URL }}icons/status_noti_icon.png" class="small-icon" />
                        <p>{{ user_profile.status_notification }}</p>
                    </a>
                </div>
                {% endif %}
                <!-- message notification -->
                {% if message_notification > 0 %}
                <div class="ml-2">
                    <a href="/message/select_conversation/">
                        <img src="{{ MEDIA_URL }}icons/message_icon.png" class="small-icon" />
                        <p>{{ message_notification }}</p>
                    </a>
                </div>
                {% endif %}
                 <!-- event notification -->
                 {% if event_notification > 0 %}
                 <div class="ml-2">
                     <a href="/user/notifications">
                         <img src="{{ MEDIA_URL }}icons/schedule_icon.png" class="small-icon" />
                         <p>{{ event_notification }}</p>
                     </a>
                 </div>
                 {% endif %}
                {% if friend_requests == 0 and user_profile.status_notification == 0 and partner_requests == 0 and user_profile.accepted_friend_notification == 0 and message_notification == 0 and event_notification == 0 %}
                <b class="m-0 text-small">No notifications</b>
                {% endif %}
            </div>
        </div>
        <div class="col m-0 p-2">
            <p class="m-0 p-0 text-right">Profile</p>
        </div>
    </div>
    <div class="row m-0 p-0 pt-3 profile-info-height">
        <div class="col-9 m-0 p-0 pl-3 profile-details-container">
            {% if user_profile.profile_image %}
            <img src="{{ MEDIA_URL }}{{user_profile.profile_image}}" class="profile-image">
            {% else %}
            <img src="{{ MEDIA_URL }}user-image.png" class="profile-image">
            {% endif %}

            <h5>{{ user.first_name }}</h5>
            <h5>{{ user.last_name }}</h5>
            <p>{{ user_profile.bio | truncatechars:35 }}
                {% if bio_length > 35 %}
                <span id="view-all-bio" class="float-right" data-toggle="modal" data-target="#exampleModal"><b>View
                        All</b></span>
                {% endif %}
            </p>

            <a href="/user/settings">+</a>
        </div>
        <div class="col-3 m-0 p-0 pb-2 d-flex justify-content-center justify-content-md-end align-items-end">
            <a href="/user/family/{{ user.id }}" class="m-0 mr-md-5">
                <h3 class="text-center text-dark">{{ friend_count }}</h3>
                <h6 class="text-dark">Family</h6>
            </a>
        </div>
    </div>

    <!-- Add data icons -->
    <div class="container-fluid d-flex justify-content-center p-0">
        <div class="add-data-container">
            <a href="/user/find_users">
                <img src="{{ MEDIA_URL }}icons/family_icon.png" />
                <label>Users</label>
            </a>
            <a id="add-status-form" class="add-form">
                <img src="{{ MEDIA_URL }}icons/status_icon.png" />
                <label>Status</label>
            </a>
            <a id="add-item-form" class="add-form">
                <img src="{{ MEDIA_URL }}icons/item_icon.png" />
                <label>Item</label>
            </a>
            <a href="/event/create_event">
                <img src="{{ MEDIA_URL }}icons/schedule_icon.png" />
                <label>Event</label>
            </a>
            <a href="#">
                <img src="{{ MEDIA_URL }}icons/to_do_icon.png" />
                <label>To Do</label>
                <p class="coming-soon">Coming Soon</p>
            </a>
            <a href="#">
                <img src="{{ MEDIA_URL }}icons/photo_icon.png" />
                <label>Photo</label>
                <p class="coming-soon">Coming Soon</p>
            </a>
        </div>
    </div>


    <!-- Add data forms container -->
    <div id="add-data-form-container" class="closed"></div>

</div>


<!-- users shopping list and status -->
<div class="profile-page-container">
    <div class="row m-0 p-0">
        <div class="col-12 m-0 pt-3">
            <h5 class="m-0 d-flex align-items-center justify-content-between">Shopping List <a
                    href="/shopping/shopping_page" class="text-small">More</a></h5>
        </div>
    </div>
    <hr>
    <div class="shopping-item-container">
        {% if not items %}
        <p class="m-0">Your shoppping list is empty. <a href="/shopping/shopping_page">Add Items</a></p>
        {% endif %}
        {% for item in items %}
        <a class="shopping-item" href="/shopping/shopping_page">
            <p class="m-0 item-username">{{ item.user.first_name }}</p>
            <p class="m-0">{{ item.item }}</p>
            <p class="m-0 category">{{ item.category }}</p>
            <div class="text-dark">x{{ item.quantity }}</div>
        </a>
        {% endfor %}
    </div>
    <hr>
    <h5 class="ml-3">Status</h5>
    <hr class="status-divider">
    <div class="row m-0 p-0">
        {% if not news_feed %}
        <p class="ml-3">You haven't created any status yet</p>
        {% endif %}
        {% for news in news_feed %}
        <div class="col-12 m-0 p-0">
            <div class="row m-0 p-0">
                <div class="col-12 m-0 p-0 pl-3">
                    {% if news.user_profile.profile_image %}
                    <img src="{{ MEDIA_URL }}{{news.user_profile.profile_image}}"
                        class="user-image-status float-left mr-3">
                    {% else %}
                    <img src="{{ MEDIA_URL }}user-image.png" class="user-image-status float-left mr-3">
                    {% endif %}
                    <h6>{{ news.user.first_name }} {{ news.user.last_name }}
                        <div class="dropdown">
                            <a class="icon-button float-right mr-4 dropdown-toggle" type="button"
                                id="dropdownMenuOffset" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false" data-offset="10,20">
                                <img src="{{ MEDIA_URL }}icons/delete_icon.png" />
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
                                <h6 class="text-center">Are you sure?</h6>
                                <a class="dropdown-item" href="/status/update_status/remove/{{news.id}}/profile">Remove
                                    Status</a>
                            </div>
                        </div>
                    </h6>
                    <h6 class="text-secondary">{{ news.title }}</h6>
                </div>
                <div class="col-12 mb-3 mt-2">
                    <hr class="m-0 mb-3">
                    <p class="m-0">{{ news.content }}</p>
                    <hr class="m-0 mt-3">
                </div>
                {% if news.image %}
                <div class="col-12 mb-3">
                    <img src="{{ MEDIA_URL }}{{news.image}}" class="status-image">
                </div>
                {% endif %}
                <div class="col-6 m-0 p-0 pl-3 d-flex align-items-end">
                    <div>
                        <p class="m-0 text-small"><span id="like-count-{{ news.id }}">{{ news.likes }}</span> Likes
                            {{ news.comment.all | length }} Comments</p>
                        <p class="m-0 text-small">{{ news.created_date }}</p>
                    </div>
                </div>
                <div class="col-6 m-0 p-0 d-flex align-items-center justify-content-end pr-4">
                    <a class="icon-button mr-3" href="#comment-form-container-{{news.id}}" data-toggle="collapse">
                        <img src="{{ MEDIA_URL }}icons/comment_icon.png" />
                    </a>
                    <!-- like post icons -->
                    {% if user in news.liked_by.all %}
                    <form action="/status/like_status/{{news.id}}" method="POST" class="status-like-ajax"
                        id="{{ news.id }}">
                        {% csrf_token %}
                        <button class="icon-button" type="submit">
                            <img src="{{ MEDIA_URL }}icons/heart_pink_icon.png" id="like-img-{{ news.id }}" />
                        </button>
                    </form>
                    {% else %}
                    <form action="/status/like_status/{{news.id}}" method="POST" class="status-like-ajax"
                        id="{{ news.id }}">
                        {% csrf_token %}
                        <button class="icon-button" type="submit">
                            <img src="{{ MEDIA_URL }}icons/heart_white_icon.png" id="like-img-{{ news.id }}" />
                        </button>
                    </form>
                    {% endif %}
                </div>
                <div class="col-12">
                    <hr class="mb-1">
                </div>
                <div class="col-12 m-0 p-0">
                    <div class="row m-0 p-0" id="comment-container-{{ news.id }}">
                        {% for comment in news.comment.all %}
                        {% if forloop.counter <= 2 %}
                        <div class="col-12 px-2 py-1">
                            <div class="comment-container">
                                <a href="/user/view_user_profile/{{comment.author.id}}">
                                    {% if comment.author_profile.profile_image %}
                                    <img src="{{ MEDIA_URL }}{{comment.author_profile.profile_image}}"
                                        class="float-left mr-2">
                                    {% else %}
                                    <img src="{{ MEDIA_URL }}user-image.png" class="float-left mr-2">
                                    {% endif %}
                                    <h6 class="m-0 mb-1 text-dark">{{ comment.author.first_name }}
                                        {{ comment.author.last_name }}</h6>
                                </a>
                                <p class="m-0">{{ comment.comment }}</p>
                                <p class="m-0 text-small text-right">{{ comment.created_date }}</p>
                            </div>
                        </div>
                        {% endif %}
                        {% if forloop.counter > 2 and forloop.last %}
                        <div class="col-12 d-flex justify-content-end mt-2">
                            <a href="/status/view_status/{{news.id}}" class="text-theme">View More</a>
                        </div>
                        {% endif  %}
                        {% endfor %}
                    </div>
                </div>
                <div class="col-12 p-2 mt-1 collapse" id="comment-form-container-{{news.id}}">
                    <form class="d-flex justify-content-between status-comment-ajax"
                        action="/status/add_comment/{{news.id}}/profile" id="{{ news.id }}" method="POST">
                        {% csrf_token %}
                        <input type="text" class="form-control" name="comment" id="input-{{ news.id }}" required>
                        <button class="btn btn-success ml-3">Comment</button>
                    </form>
                </div>
            </div>
            <hr class="status-divider">
        </div>
        {% endfor %}
    </div>

</div>



<button id="add-button" class="closed scroll-to-top">
    <img src="{{ MEDIA_URL }}icons/plus_icon.png" href="#page-top">
</button>

<button id="send-button" class="closed send-button">
    <img src="{{ MEDIA_URL }}icons/send_icon.png" />
</button>

{% endblock %}

{% block extra_css %}
<script src="https://kit.fontawesome.com/d4ed0579d0.js" crossorigin="anonymous"></script>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/profile.js' %}"></script>
<script src="{% static 'js/forms.js' %}"></script>
<script>
    // Add status form 
    $(document).on('click', '#add-status-form', function () {
        $('#add-data-form-container').html(`
            <form action="/status/update_status/add/0/profile" method="POST" enctype="multipart/form-data" class="p-3 pt-4" id="status-form">
            {% csrf_token %}
                {{ status_form }}
                <div id="error-container" class="mt-1"></div>
            </form>
        `);
        gsap.to('#send-button', 0.6, { transform: 'translate(0, 0)' })
    });

    // Add item form 
    $(document).on('click', '#add-item-form', function () {
        $('#add-data-form-container').html(`
            <form action="/shopping/edit_item_quantity/add/0" method="POST" class="p-3 pt-4" id="item-form">
            {% csrf_token %}
                {{ item_form }}
                <label>Category</label>
                <div class="row m-0 p-0">
                    <div class="col-8 m-0 p-0 pr-3">
                        <select name="category" class="form-control" id="form-category">
                            {% for category in item_categories %}
                                <option value="{{ category.category }}">{{ category.category }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-4 m-0 p-0">
                        <a class="btn btn-success container-fluid" href="/shopping/shopping_page">
                            Add Category
                        </a>
                    </div>  
                </div>
                <div id="error-container" class="mt-1"></div>
            </form>
        `);
        gsap.to('#send-button', 0.6, { transform: 'translate(0, 0)' })
    });

    // like post
    $(document).ready(function (event) {
        var tl = gsap.timeline()
        var theForm = $('.status-like-ajax');
        var addLike = true;

        theForm.submit(function (event) {
            event.preventDefault();
            if (addLike) {
                addLike = false
                var formId = this.id
                var thisForm = $(this)
                var actionEndpoint = thisForm.attr("action");
                var httpMethod = thisForm.attr("method");
                var formData = thisForm.serialize();
                var imgId = '#like-img-' + formId;
                var likeCounterId = '#like-count-' + formId;

                tl.to(imgId, 0.2, { transform: 'rotateY(180deg)', ease: 'none' })
                tl.to(imgId, 0.2, { transform: 'rotateY(0deg)', ease: 'none' })

                if ($(imgId).attr('src') == "{{ MEDIA_URL }}icons/heart_pink_icon.png") {
                    $(imgId).attr('src', '{{ MEDIA_URL }}icons/heart_white_icon.png')
                    $(likeCounterId).html(parseInt($(likeCounterId).html()) - 1)
                } else {
                    $(imgId).attr('src', "{{ MEDIA_URL }}icons/heart_pink_icon.png")
                    $(likeCounterId).html(parseInt($(likeCounterId).html()) + 1)
                }

                $.ajax({
                    url: actionEndpoint,
                    method: httpMethod,
                    data: formData,
                    success: function (data) {

                    }
                })
                setTimeout(function () {
                    addLike = true;
                }, 2500)
            }
        })

        // add comment
        var theForm = $('.status-comment-ajax');
        var addComment = true;

        theForm.submit(function (event) {
            event.preventDefault();
            if (addComment) {
                addComment = false;

                var formId = this.id
                var thisForm = $(this)
                var actionEndpoint = thisForm.attr("action");
                var httpMethod = thisForm.attr("method");
                var formData = thisForm.serialize();
                var commentContainerId = '#comment-container-'.concat(formId)
                var inputId = '#input-'.concat(formId)

                var comment = $(inputId).val()
                $(commentContainerId).append(`
                        <div class="col-12 px-2 py-1">
                            <div class="comment-container">
                                {% if user_profile.profile_image %}
                                <img src="{{ MEDIA_URL }}{{user_profile.profile_image}}" class="float-left mr-2">
                                {% else %}
                                <img src="{{ MEDIA_URL }}user-image.png" class="float-left mr-2">
                                {% endif %}
                                <h6 class="m-0 mb-1">{{ user.first_name }} {{ user.last_name }}</h6>
                                <p class="m-0">${comment}</p>
                                <p class="m-0 text-small text-right">Now</p>
                            </div>
                        </div>
                        `)
                $(inputId).val('')
                $.ajax({
                    url: actionEndpoint,
                    method: httpMethod,
                    data: formData,
                    success: function (data) {

                    }
                })
                setTimeout(function () {
                    addComment = true
                }, 2500)
            }
        })
    });
</script>

{% endblock %}