{% extends 'base.html' %}
{% load static %}

{% block title %}
{% if friend_requests %}({{friend_requests}}){% endif %} {{user.first_name}} {{user.last_name}} | Family Organiser
{% endblock %}

{% block content %}
<img src="{{ MEDIA_URL }}svg/add_data_background.svg" class="profile-background-image"></img>
<img src="{{ MEDIA_URL }}svg/add_data_background_light.svg" class="profile-background-image-light"></img>

<!-- profile and notifications section -->
<div class="row m-0 p-0">
    <div class="col m-0 p-0 d-flex justify-content-between">
        <div class="notification-container h-100 d-flex justify-content-center align-items-center px-3">
            <!-- <img src="https://img.icons8.com/carbon-copy/20/000000/chat-message.png" /> -->
            {% if friend_requests > 0 %}
            <div>
                <a href="/user/notifications">
                    <img src="{{ MEDIA_URL }}icons/friend_request_icon.png" class="small-icon"/>
                    <p>{{ friend_requests }}</p>
                </a>
            </div>
            {% endif %}
            {% if user_profile.status_notification > 0 %}
            <div class="ml-2">
                <a href="/user/notifications">
                    <img src="{{ MEDIA_URL }}icons/status_noti_icon.png" class="small-icon"/>
                    <p>{{ user_profile.status_notification }}</p>
                </a>
            </div>
            {% endif %}
            {% if friend_requests == 0 and user_profile.status_notification == 0 %}
            <b class="m-0 text-small">No notifications</b>
            {% endif %}
            <!-- <img src="https://img.icons8.com/carbon-copy/20/000000/shopping-basket.png" /> -->
        </div>

    </div>
    <div class="col m-0 p-2">
        <p class="m-0 p-0 text-right">Profile</p>
    </div>
</div>
<div class="row m-0 p-0 pt-3 profile-info-height">
    <div class="col-9 m-0 p-0 pl-3 profile-details-container">
        {% if user_profile.profile_image %}
            <img src="{{ MEDIA_URL }}{{user_profile.profile_image}}" class="profile-image">
        {% else %}
            <img src="{{ MEDIA_URL }}user-image.png" class="profile-image">
        {% endif %}

        <h5>{{ user.first_name }}</h5>
        <h5>{{ user.last_name }}</h5>
        <p>{{ user_profile.bio }}</p>
        <a href="/user/settings">+</a>
    </div>
    <div class="col-3 m-0 p-0 pb-2 d-flex justify-content-center align-items-end">
        <a href="/user/family/">
            <h3 class="text-center text-white">{{ friend_count }}</h3>
            <h6 class="text-white">Family</h6>
        </a>
    </div>
</div>

<!-- Add data icons -->
<div class="add-data-container">
    <a href="/user/find_users">
        <img src="{{ MEDIA_URL }}icons/family_icon.png" />
        <label>Users</label>
    </a>
    <a id="add-status-form">
        <img src="{{ MEDIA_URL }}icons/status_icon.png" />
        <label>Status</label>
    </a>
    <a href="#">
        <img src="{{ MEDIA_URL }}icons/photo_icon.png" />
        <label>Photo</label>
    </a>
    <a href="#">
        <img src="{{ MEDIA_URL }}icons/item_icon.png" />
        <label>Item</label>
    </a>
    <a href="#">
        <img src="{{ MEDIA_URL }}icons/dinner_icon.png" />
        <label>Dinner</label>
    </a>
    <a href="#">
        <img src="{{ MEDIA_URL }}icons/to_do_icon.png" />
        <label>To Do</label>
    </a>
</div>

<!-- Add data forms container -->
<div id="add-data-form-container" class="closed"></div>


<!-- users shopping list and status -->
<div class="profile-page-container">
    <h4 class="ml-3">Status</h4>
    <hr class="status-divider">
    <div class="row m-0 p-0 mb-5">
        {% for news in news_feed %}
        <div class="col-12 m-0 p-0">
            <div class="row m-0 p-0">
                <div class="col-12 m-0 p-0 pl-3">
                {% if news.user_profile.profile_image %}
                    <img src="{{ MEDIA_URL }}{{news.user_profile.profile_image}}" class="user-image-status float-left mr-3">
                {% else %}
                    <img src="{{ MEDIA_URL }}user-image.png" class="user-image-status float-left mr-3">
                {% endif %}
                    <h5>{{ news.user.first_name }} {{ news.user.last_name }}  <a class="icon-button  float-right mr-4" href="/status/update_status/remove/{{news.id}}">
                        <img src="{{ MEDIA_URL }}icons/delete_icon.png" />
                    </a></h5>
                    <h6 class="text-secondary">{{ news.title }}</h6>
                    
                </div>
                <div class="col-12 mb-3 mt-2">
                    <hr class="m-0 mb-3">
                    <p class="m-0">{{ news.content }}</p>
                    <hr class="m-0 mt-3">
                </div>  
                {% if news.image %}
                    <div class="col-12 mb-3">     
                            <img src="{{ MEDIA_URL }}{{news.image}}" class="status-image">
                    </div>
                {% endif %}
                <div class="col-6 m-0 p-0 pl-3 d-flex align-items-end">
                    <div>
                        <p class="m-0 text-small">{{ news.likes }} Likes {{ news.comment.all | length }} Comments</p>
                        <p class="m-0 text-small">{{ news.created_date }}</p>
                    </div>
                </div>
                <div class="col-6 m-0 p-0 d-flex align-items-center justify-content-end pr-4">
                    <a class="icon-button mr-3" href="#comment-form-container-{{news.id}}" data-toggle="collapse">
                        <img src="{{ MEDIA_URL }}icons/comment_icon.png"/>
                    </a>
                    {% if user in news.liked_by.all %}
                    <a class="icon-button">
                        <img src="{{ MEDIA_URL }}icons/heart_pink_icon.png"/>
                    </a>
                    {% else %}
                    <a class="icon-button" href="/status/like_status/{{news.id}}">
                        <img src="{{ MEDIA_URL }}icons/heart_white_icon.png"/>
                    </a>
                    {% endif %}
                </div>
                <div class="col-12">
                    <hr class="mb-1">
                </div>
                {% for comment in news.comment.all %}
                <div class="col-12 px-2 py-1">
                    <div class="comment-container">
                        {% if comment.author_profile.profile_image %}
                        <img src="{{ MEDIA_URL }}{{comment.author_profile.profile_image}}" class="float-left mr-2">
                        {% else %}
                        <img src="{{ MEDIA_URL }}user-image.png" class="float-left mr-2">
                        {% endif %}
                        <h6 class="m-0 mb-1">{{ comment.author.first_name }} {{ comment.author.last_name }}</h6>
                        <p class="m-0">{{ comment.comment }}</p>
                        <p class="m-0 text-small text-right">{{ comment.created_date }}</p>
                    </div>
                </div>
                {% endfor %}
                <div class="col-12 p-2 mt-1 collapse" id="comment-form-container-{{news.id}}">
                    <form class="d-flex justify-content-between" action="/status/add_comment/{{news.id}}" method="POST">
                        {% csrf_token %}
                        <input type="text" class="form-control" name="comment" required>
                        <button class="btn btn-success ml-3">Comment</button>
                    </form>
                </div>
            </div>
            <hr class="status-divider">
        </div>
    {% endfor %}
    </div>
   
</div>



<button id="add-button" class="closed">
    <img src="{{ MEDIA_URL }}icons/plus_icon.png">
</button>

<button id="send-button-status" class="closed send-button-status">
    <img src="{{ MEDIA_URL }}icons/send_icon.png"/>
</button>


{% endblock %}

{% block extra_js %}
<script src="{% static 'js/profile.js' %}"></script>
<script src="{% static 'js/forms.js' %}"></script>
<!-- Add status form -->
<script>
    $(document).on('click', '#add-status-form', function() {
        $('#add-data-form-container').html(`
            <form action="/status/update_status/add/0" method="POST" enctype="multipart/form-data" class="p-3 pt-4" id="status-form">
            {% csrf_token %}
                <label>Title</label>
                <input type="text" name="title" class="form-control" id="form-title">
                <label>Post</label>
                <input type="text" name="content" class="form-control" id="form-content">
                <label class="d-block">Image</label>
                <input type="file" name="image" id="form-file">
                <div id="error-container" class="mt-1"></div>
            </form>
        `);
        gsap.to('#send-button-status', 0.6, {transform: 'translate(0, 0)'})
    });
</script>
{% endblock %}