{% extends 'base.html' %}
{% load static %}

{% block title %}
Settings | Family Organiser
{% endblock %}

{% block content %}

<div class="row m-0 p-2">
    <div class="col-12 m-0 p-0">
        <p class="m-0 p-0 text-right">Settings</p>
    </div>
</div>
<hr>

<div class="row m-0 p-0 px-1">
    <div class="col-4 m-0 p-0 px-2">
        <label>First Name</label>
        <p>{{user.first_name}}</p>
    </div>
    <div class="col-4 m-0 p-0 px-2">
        <label>Last Name</label>
        <p>{{user.last_name}}</p>
    </div>
    <div class="col-4 m-0 p-0 px-2 mt-1">
        <label>Username</label>
        <p>{{user.username}}</p>
    </div>
</div>
<hr class="mt-1">
<div class="row m-0 p-0 px-1">
    <div class="col-12 px-2 mb-1" id="image-form-container">
        <form action="/user/change_image/" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <label class="d-block">Profile Image</label>
            <input type="file" name="profile_image">
            <button type="submit" class="btn btn-success text-light mr-1 float-right">Save</button>
        </form>
    </div>
</div>
<hr>
<form action="/user/change_details/" method="POST">
    {% csrf_token %}
    <div class="row m-0 p-0 px-1">
        <div class="col-6 m-0 p-0 px-2 mt-1">
            <label>Age</label>
            <input type="number" class="form-control" value="{{user_profile.age}}" name="age">
        </div>
        <div class="col-6 m-0 p-0 px-2 mt-1">
            <label>Gender</label>
            <select class="form-control">
                <option>Male</option>
                <option>Female</option>
            </select>
        </div>
        <div class="col-12 m-0 p-0 px-2 mt-1">
            <label>Bio</label>
            <input class="form-control" value="{{user_profile.bio}}" name="bio"></input>
            <p class="m-1">Characters Remains: 50</p>
        </div>
    </div>
    <div class="container-fluid d-flex justify-content-end p-0">
        <button type="submit" class="btn btn-success text-light mr-3">Save</button>
    </div>


</form>

<hr>

<a class="btn btn-danger ml-3" href="/user/delete_account">Delete Account</a>

{% endblock %}

{% block extra_js %}
<script src="{% static 'js/settings.js' %}"></script>
{% endblock %}