{% extends 'base.html' %}
{% load static %}

{% block title %}
Settings | Family Organiser
{% endblock %}

{% block content %}

<div class="row m-0 p-2">
    <div class="col-12 m-0 p-0">
        <p class="m-0 p-0 text-right">Settings</p>
    </div>
</div>


<hr class="mt-1">
<div class="row m-0 p-0 px-1">
    <div class="col-12 col-lg-6">
        <table class="container-fluid settings-table">
            <tr>
                <th>First Name</th>
                <td class="text-right">{{ user.first_name }}</td>
                
            </tr>
            <tr>
                <th>Last Name</th>
                <td class="text-right">{{ user.last_name }}</td>
            
            </tr>
            <tr>
                <th>Username</th>
                <td class="text-right">{{ user.username }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td class="text-right">{{ user.email }}</td>
            </tr>
        </table>
    </div>

    <div class="col-12 d-block d-lg-none m-0 p-0">
        <hr>
    </div>
    <div class="col-12 col-lg-6 px-2 mb-1" id="image-form-container">
       
        <form action="/user/change_image/" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <label class="d-block">Profile Image</label>
            <input type="file" name="profile_image">
            <button type="submit" class="btn btn-success text-light mr-1 float-right">Save</button>
        </form>
    </div>
</div>
<hr>
<form action="/user/change_details/" method="POST">
    {% csrf_token %}
    <div class="row m-0 p-0 px-1">
        <div class="col-6 m-0 p-0 px-2 mt-1">
            <label>Age</label>
            <input type="number" class="form-control" value="{{user_profile.age}}" name="age">
        </div>
        <div class="col-6 m-0 p-0 px-2 mt-1">
            <label>Gender</label>
            <select class="form-control">
                <option>Male</option>
                <option>Female</option>
            </select>
        </div>
        <div class="col-12 m-0 p-0 px-2 mt-1">
            <label>Bio</label>
            <input class="form-control" value="{{user_profile.bio}}" name="bio" id="users-bio" maxlength=150 onkeydown="bioCount()" required></input>
            <p class="m-1">Characters Remains: <span id="remaining-letters"></span></p>
        </div>
    </div>
    <div class="container-fluid d-flex justify-content-end p-0">
        <button type="submit" class="btn btn-success text-light mr-3">Save</button>
    </div>


</form>

<hr>

<a class="btn btn-danger ml-3" href="/user/delete_account">Delete Account</a>

{% endblock %}

{% block extra_js %}
<script src="{% static 'js/settings_page.js' %}"></script>

{% endblock %}