{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

    <div class="p-2">

        <h1>{% trans "Password Reset" %}</h1>
        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
    
        <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
    
        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
            {% csrf_token %}
            <label for="{{ form.email.id_for_label }}">E-mail</label>
            <input type="text" name="{{ form.email.name }}" maxlength="150" autofocus required id="{{ form.email.id_for_label }}" class="container-fluid form-control">
            <input type="submit" value="{% trans 'Reset My Password' %}" class="container-fluid btn btn-success my-3" />
        </form>
    
        <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>

    </div>

    
{% endblock %}
