{% extends 'base.html' %}
{% load static %}

{% block title %}
Find Partners | Family Organiser
{% endblock %}

{% block content %}
<div class="row m-0 p-2">
    <div class="col-8 m-0 p-2 d-flex justify-content-start">
        <a href="/shopping/shopping_page" class="mr-2">
            <button class="btn btn-success float-right">Shopping</button>
        </a>
        <a href="/shopping/insight">
            <button class="btn btn-success">Insight</button>
        </a>
    </div>
    <div class="col-4 m-0 p-0">
        <p class="m-0 p-0 text-right">Shopping - Partners</p>
    </div>
</div>

<hr>
<div class="row m-0 p-0">
    <div class="col-12 m-0">
        <h6 class="m-0 d-flex align-items-center justify-content-between">Shopping Partners<i
                class="far fa-plus-square float-right mr-2" data-toggle="collapse"
                href="#shopping-partners-container"></i></h6>
    </div>
</div>

<hr>
<div class="row m-0 p-0 collapse" id="shopping-partners-container">
    <div class="col-12 m-0 p-0">
        <div class="px-3">
            {% if not shopping_partners %}
                <p>You don't have any shopping partners, search and invite memebers!</p>
            {% endif %}
            {% for partner in shopping_partners.all %}
                <p>{{ partner.username }}</p>
            {% endfor %}
        </div>
        <hr>
    </div>
</div>

<form action="/shopping/add_partner" method="GET" class="px-3">
    {% csrf_token %}
    <h3>Search</h3>
    <div class="container-fluid d-flex justify-content-between m-0 p-0">
        <input type="text" name="q" class="form-control d-inline" placeholder="Name / Username">
        <button class="btn btn-success ml-3">Find</button>
    </div>
</form>
<hr>
<div class="row m-0 p-0">
    {% for aUser in all_users %}
            <div class="col-12 m-0 p-0">
                <div class="row m-0 p-0">
                    <div class="col-3 m-0 p-0 pl-3">
                        <img src="{{ MEDIA_URL }}user-image.png" class="user-image">
                    </div>
                    <div class="col-6 m-0 p-0">
                        <h5>{{ aUser.first_name }}{% if aUser.username == user.username %} <span class="text-secondary">(You!)</span>{% endif %}</h5>
                        <h5>{{ aUser.last_name }}</h5>
                    </div>
                    <div class="col-3 m-0 p-0 d-flex align-items-center justify-content-end pr-4">
                        <a class="icon-button" href="/shopping/create_request/{{aUser.id}}">
                            <img src="{{ MEDIA_URL }}icons/add_list_icon.png" class="add-list-icon"/>
                        </a>
                        <!-- <a class="icon-button icon-warning">
                            <img src="https://img.icons8.com/cotton/19/000000/sent.png" class="px-2"/>
                        </a>
                        <a class="icon-button icon-success">
                            <img src="https://img.icons8.com/carbon-copy/32/000000/family.png" />
                        </a> -->
                    </div>
                </div>
                <hr>
            </div>
    {% endfor %}
</div>
<p class="m-0 mt-2 text-right mr-3">Search Result: {{ all_users | length }}</p>

{% endblock %}

{% block extra_css %}
<script src="https://kit.fontawesome.com/d4ed0579d0.js" crossorigin="anonymous"></script>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/shopping_page.js' %}"></script>
{% endblock %}