{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="row m-0 p-0">
    <div class="col m-0 p-3 d-flex justify-content-between">
        <a href="/shopping/insight">
            <button class="btn btn-success">Insight</button>
        </a>
    </div>
    <div class="col m-0 p-2">
        <p class="m-0 p-0 text-right">Shopping</p>
    </div>
</div>

<!-- Add section -->
    <!-- adding an item -->
    <hr class="mt-0">
    <div class="row m-0 p-0">
        <div class="col-12 m-0">
            <h6 class="m-0 d-flex align-items-center justify-content-between">Add New Item<i
                    class="far fa-plus-square float-right mr-2" data-toggle="collapse" href="#item-form-container"></i>
            </h6>
        </div>
    </div>
    <hr>
    <div id="item-form-container" class="collapse">
        <form action="/shopping/update_item/add" method="POST" class="px-3 pt-0 pb-1" id="item-form">
            {% csrf_token %}
            <label>Item</label>
            <input type="text" name="item" class="form-control" id="form-item" required>
            <label>Quantity</label>
            <input type="number" name="quantity" class="form-control" id="form-quantity" value="1" required>
            <label>Category</label>
            <div class="row m-0 p-0">
                <div class="col-12 m-0 p-0">
                    <select name="category" class="form-control" id="form-category" required>
                        {% for category in categories %}
                        <option value="{{ category.category }}">{{ category.category }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div id="error-container" class="mt-1"></div>
            <button class="btn btn-success container-fluid mt-3 mb-2">Add To List</button>
        </form>
        <hr>
    </div>
    <!-- adding a category -->
    <div class="row m-0 p-0">
        <div class="col-12 m-0">
            <h6 class="m-0 d-flex align-items-center justify-content-between">Add New Category<i
                    class="far fa-plus-square float-right mr-2" data-toggle="collapse"
                    href="#category-form-container"></i></h6>
        </div>
    </div>
    <hr>
    <div id="category-form-container" class="collapse">
        <form action="update_category/add/0" method="POST">
            {% csrf_token %}
            <div class="row m-0 p-0">
                <div class="col-12">
                    <label>Category</label>
                    <input type="text" name="category" class="form-control" id="form-quantity">
                    <button class="btn btn-success container-fluid mt-3 mb-2">Add Category</button>
                </div>
            </div>
        </form>
        <hr>
    </div>

    <!-- editing categories -->
    <div class="row m-0 p-0">
        <div class="col-12 m-0">
            <h6 class="m-0 d-flex align-items-center justify-content-between">Edit Categories<i
                    class="far fa-plus-square float-right mr-2" data-toggle="collapse"
                    href="#category-edit-container"></i></h6>
        </div>
    </div>
    <hr class="mb-2">
    <div id="category-edit-container" class="collapse">
        <div class="row m-0 p-0">
            {% for category in categories %}
            <div class="col-12 d-flex justify-content-between mt-3">
                <p class="m-0">{{category.category}}</p>
                <form method="POST" action="update_category/remove/{{ category.id }}">
                    {% csrf_token %}
                    <button class="icon-button mr-3">
                        <img src="{{ MEDIA_URL }}icons/delete_icon.png" />
                    </button>
                </form>
            </div>
            {% endfor %}
        </div>
        <hr>
    </div>

    <!-- list section -->
    <!-- quick add -->
    <div class="shopping-item-container">
        {% if not favorites %}
        <p class="px-2">You haven't added any items yet.</p>
        {% endif %}
        {% for item in favorites %}
        <form action="/shopping/quick_item/{{item.item}}/{{item.category}}" method="POST" class="add-item-ajax">
            {% csrf_token %}
            <button class="btn btn-success ">
                <p class="m-0 text-light">{{ item.item }}</p>
            </button>
        </form>
        {% endfor %}
        
    </div>
    <hr class="mt-2">
    {% if not categories_used %}
    <p class="px-2">Your shoppping list is empty.</p>
    {% else %}
    <div class="d-flex justify-content-end">
        <i class="fas fa-edit mr-3" data-toggle="collapse" href=".edit-item"></i>
        <img src="{{ MEDIA_URL }}icons/tick_all_icon.png" width="25px"
            class="collapse edit-item select-all-checkboxes mr-3" id="checkbox-{{category.id}}">
    </div>
    {% endif %}
    <hr>
    <div class="shopping-table-container">
        {% for category in categories_used %}
        <div class="row m-0 p-0">
            <div class="col-12 m-0">
                <h5 class="m-0 d-flex justify-content-between align-items-center">{{category.category}}<img
                        src="{{ MEDIA_URL }}icons/tick_all_icon.png" width="25px"
                        class="collapse edit-item select-category-inputs" id="checkbox-{{category.id}}"></h5>
            </div>
        </div>
        <hr>
        <form action="/shopping/update_item/remove" method="POST">
            {% csrf_token %}
            <div class="row m-0 p-0">
                <div class="col-12 m-0 p-0 px-2">
                    <table class="container-fluid shopping-table">
                        <tr>
                            <th>Item</th>
                            <th class="text-center">Quantity</th>
                            <th class="text-right">Add By</th>
                            <th class="text-right collapse edit-item">Remove</th>
                        </tr>
                        {% for item in items %}
                        {% if item.category.category == category.category %}
                        <tr>
                            <td>{{ item.item }}</td>
                            <td class="text-center">{{ item.quantity }}</td>
                            <td class="text-right">{{ item.user.username }}</td>
                            <td class="text-right collapse edit-item-{{category.id}} edit-item"><input type="checkbox"
                                    name="{{ item.id }}" class="checkbox-{{category.id}} checkbox">
                            </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </table>
                </div>
                <div class="col-12 m-0 p-0">
                    <hr>
                </div>
            </div>
            {% endfor %}
            <div class="row m-0 p-0 my-3 mb-4 collapse edit-item">
                <div class="col-12 m-0 p-0 px-2">
                    <button class="btn btn-success container-fluid">Done</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}

{% block extra_css %}
<script src="https://kit.fontawesome.com/d4ed0579d0.js" crossorigin="anonymous"></script>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/shopping_page.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script>
    $(document).ready(function () {

        // Add an item using ajax
        var theForm = $('.add-item-ajax');

        theForm.submit(function (event) {
            event.preventDefault();

            var formId = this.id
            var thisForm = $(this)
            var actionEndpoint = thisForm.attr("action");
            var httpMethod = thisForm.attr("method");
            var formData = thisForm.serialize();

            req = $.ajax({
                url: actionEndpoint,
                method: httpMethod,
                headers: { "X-CSRFToken": '{{csrf_token}}' },
                contentType: 'application/json; charset=utf-8',
                data: formData,
                success: function (data) {
                    console.log(data)
                    $('.shopping-table-container').html('')
                    for (let i = 0; i < data.categories_used.length; i++) {
                        function crateTableRows() {
                            var tableRows = ''

                            for (let j = 0; j < data.items.length; j++) {
                                var newRow = `
                                    <tr>
                                        <td>${data.items[j]['item']}</td>
                                        <td class="text-center">${data.items[j]['quantity']}</td>
                                        <td class="text-right">${data.items[j]['user']}</td>
                                        <td class="text-right collapse edit-item-${i} edit-item"><input type="checkbox" name="${data.items[j]['item_id']}" class="checkbox-${i} checkbox"></td>
                                    </tr>
                                `
                                var itemCategory = data.items[j]['category']
                                var tableCategory = data.categories_used[i]

                                if (itemCategory == tableCategory) {
                                    tableRows = tableRows.concat(newRow)
                                }
                            }
                            return tableRows
                        };

                        var tableRows = crateTableRows()

                        $('.shopping-table-container').append(`
                            <div class="row m-0 p-0">
                                <div class="col-12 m-0">
                                    <h5 class="m-0 d-flex justify-content-between align-items-center">${data.categories_used[i]}<img
                                src="{{ MEDIA_URL }}icons/tick_all_icon.png" width="25px"
                                class="collapse edit-item select-category-inputs" id="checkbox-${i}"></h5>
                                </div>
                            </div>
                            <hr>
                            <form action="/shopping/update_item/remove" method="POST">
                                {% csrf_token %}
                                <div class="row m-0 p-0">
                                    <div class="col-12 m-0 p-0 px-2">
                                        <table class="container-fluid shopping-table">
                                            <tr>
                                                <th>Item</th>
                                                <th class="text-center">Quantity</th>
                                                <th class="text-right">Add By</th>
                                                <th class="text-right collapse edit-item">Remove</th>
                                            </tr>
                                            ${tableRows}
                                        </table>
                                    </div>
                                <div class="col-12 m-0 p-0">
                                    <hr>
                                </div>
                            </div>
                                <div class="row m-0 p-0 my-3 mb-4 collapse edit-item">
                                    <div class="col-12 m-0 p-0 px-2">
                                        <button class="btn btn-success container-fluid">Done</button>
                                    </div>
                                </div>
                            </form>
                        `);
                    }
                }
            })
        })
    });
</script>
{% endblock %}