{% extends 'base.html' %}
{% load static %}

{% block title %}
Shopping Partners | Family Organiser
{% endblock %}

{% block content %}
<div class="row m-0 p-2">
    <div class="col-8 m-0 p-2 d-flex justify-content-start">

    </div>
    <div class="col-4 m-0 p-0">
        <p class="m-0 p-0 text-right">Shopping - Partners</p>
    </div>
</div>

<!-- Shopping navigation -->
<div class="row m-0 p-0 py-3 mini-navigation-container">
    <div class="col-4 m-0 p-0 d-flex justify-content-center">
        <a href="/shopping/shopping_page">
            <button class="btn border mini-navigation-button">
                <img src="{{ MEDIA_URL }}icons/list_icon.png" class="small-icon"/>
                <small>List</small>
            </button>
        </a>
    </div>
    <div class="col-4 m-0 p-0 d-flex justify-content-center">
        <a href="/shopping/add_partner">
            <button class="btn border mini-navigation-button mini-navigation-active">
                <img src="{{ MEDIA_URL }}icons/family_icon.png" class="small-icon"/>
                <small>Partners</small>
            </button>
        </a>
    </div>
    <div class="col-4 m-0 p-0 d-flex justify-content-center">
        <a href="/shopping/insight/personal" class="mr-2">
            <button class="btn border mini-navigation-button">
                <img src="{{ MEDIA_URL }}icons/graph_icon.png" class="small-icon"/>
                <small>Insight</small>
            </button>
        </a>
    </div>
</div>

<hr class="mt-0">
<div class="row m-0 p-0">
    <div class="col-12 m-0">
        <h6 class="m-0 d-flex align-items-center justify-content-between">Shopping Partners<i
                class="far fa-plus-square float-right mr-2" data-toggle="collapse"
                href="#shopping-partners-container"></i></h6>
    </div>
</div>

<hr>
<div class="row m-0 p-0 collapse" id="shopping-partners-container">
    <div class="col-12 m-0 p-0">
        <div class="px-3">
            {% if not shopping_partners %}
                <p>You don't have any shopping partners, search and invite memebers!</p>
            {% endif %}
            {% for partner in shopping_partners.all %}
                <p>{{ partner.username }}</p>
            {% endfor %}
        </div>
        <hr>
    </div>
</div>
<h4 class="ml-3">Search</h4>
<hr>
<form action="/shopping/add_partner" method="GET" class="px-3">
    {% csrf_token %}

    <div class="container-fluid d-flex justify-content-between m-0 p-0">
        <input type="text" name="q" class="form-control d-inline" placeholder="Name / Username">
        <button class="btn btn-success ml-3">Find</button>
    </div>
</form>
<hr>
<div class="row m-0 p-0">
    {% for aUser in searched_users %}
            <div class="col-12 m-0 p-0">
                <div class="row m-0 p-0">
                    <div class="col-3 m-0 p-0 pl-3">
                        <a href="/user/view_user_profile/{{aUser.id}}">
                        {% if aUser.user_profile.profile_image %}
                            <img src="{{ MEDIA_URL }}{{aUser.user_profile.profile_image}}" class="user-image">
                        {% else %}
                            <img src="{{ MEDIA_URL }}user-image.png" class="user-image">
                        {% endif %}
                        </a>
                    </div>
                    <div class="col-6 m-0 p-0">
                        <a href="/user/view_user_profile/{{aUser.id}}">
                        <h5 class="text-dark">{{ aUser.first_name }}{% if aUser.username == user.username %} <span class="text-secondary">(You!)</span>{% endif %}</h5>
                        <h5 class="text-dark">{{ aUser.last_name }}</h5>
                        </a>
                    </div>
                    <div class="col-3 m-0 p-0 d-flex align-items-center justify-content-end pr-4">
                        {% if not aUser.username == user.username %}
                        <a class="icon-button" href="/shopping/create_request/{{aUser.id}}">
                            <img src="{{ MEDIA_URL }}icons/add_list_icon.png" class="add-list-icon"/>
                        </a>
                        {% endif %}
                    </div>
                </div>
                <hr>
            </div>
    {% endfor %}
</div>
<p class="m-0 mt-2 text-right mr-3">Search Result: {{ searched_users | length }}</p>

{% endblock %}

{% block extra_css %}
<script src="https://kit.fontawesome.com/d4ed0579d0.js" crossorigin="anonymous"></script>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/shopping_page.js' %}"></script>
{% endblock %}