{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- favicon -->
    <link rel="icon" href="{{ MEDIA_URL }}icons/family_organiser.png" type="image/x-icon" />

    <!-- google font -->
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto:wght@300&display=swap"
        rel="stylesheet">

    <!-- js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
        integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
        crossorigin="anonymous"></script>

    <!-- bootstrap (js) -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>

    <!-- gsap (js) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.3.4/gsap.min.js"></script>
    <!-- navigation bar js -->
    <script src="{% static 'js/navigation.js' %}"></script>
    <!-- Stripe js -->
    <script src="https://js.stripe.com/v3/"></script>
    {% block extra_js %}{% endblock %}

    {% block extra_css %}{% endblock %}

    <!-- bootstrap (css) -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">




    <title>{% block title %}{% endblock %}</title>
</head>

<body>

    <!-- scroll to top button -->
    {% if not 'profile' in request.path %}
    <div class="scroll-to-top" id="scroll-up" onscroll="checkShowButton()">Top</div>
    {% elif 'user_profile' in request.path %}
    <div class="scroll-to-top" id="scroll-up" onscroll="checkShowButton()">Top</div>
    {% endif %}

    <div class="page-container">
        <!-- Navigation -->
        {% if user.is_authenticated %}
        <div id="navigation-alpha-over" class="toggle-menu">
            <div class="row m-0 p-0">
                <div class="col-6">
                    {% if not user_profile.premium %}
                    <h5 class="mt-2">Why Premium?</h5>
                    <h6 class="mt-3">Shopping</h6>
                    <p>Invite family members to help you with your shopping, also view your shopping habbits to keep
                        control of junk food.</p>
                    <hr class="m-0 mb-3">
                    <h6 class="mt-2">To Do</h6>
                    <p>Make sure them bins get put out or that bill gets paid, even invite a family member to do it for
                        you.</p>
                    <hr class="m-0 mb-3">
                    <h6 class="mt-2">Events</h6>
                    <p>Book invites with family members and save them to your google calender to make sure you don't
                        forget.</p>
                    <hr class="m-0 mb-3">
                    <a href="/premium/premium_info">More</a>
                    {% else %}
                    <h5 class="mt-2">Coming Soon!</h5>
                    <h6 class="mt-3">To Do</h6>
                    <p>Create a to do list and share with your family to get the job done faster!</p>
                    <hr class="m-0 mb-3">
                    <h6 class="mt-3">Photos</h6>
                    <p>Create personal or public photo albums to save your holidays, days out and important memories!
                    </p>
                    <hr class="m-0 mb-3">
                    <h6>Thank You</h6>
                    <p>Your a premium user! Any suggestions or problems please vist. <a href="#">Click here</a></p>
                    {% endif %}
                </div>
            </div>
        </div>
        <nav class="d-md-none">
            <div class="container-fluid d-flex justify-content-between p-1 px-2 align-items-center">
                <a href="/">
                    <img src="{{ MEDIA_URL }}icons/family_organiser.png" class="logo" />
                </a>
                <div class="burger-container toggle-menu closed d-block d-lg-none">
                    <div class="burger-top"></div>
                    <div class="burger-mid"></div>
                    <div class="burger-bottom"></div>
                </div>
            </div>
            <ul class="mobile-navigation-links">
                <h6>{{ user.username }}</h6>
                <hr class="m-0">
                <li class="navigation-item">
                    {% if request.path == '/user/profile/' %}
                    <a href="/user/profile/" class="active-link">
                        <img src="{{ MEDIA_URL }}icons/profile_icon.png" class="mr-2" />Profile
                    </a>
                    {% else %}
                    <a href="/user/profile/">
                        <img src="{{ MEDIA_URL }}icons/profile_icon.png" class="mr-2" />Profile
                    </a>
                    {% endif %}
                </li>
                <li class="navigation-item">
                    {% if request.get_full_path == '/status/news_feed/' %}
                    <a href="/status/news_feed" class="active-link">
                        <img src="{{ MEDIA_URL }}icons/news_icon.png" class="mr-2" />News Feed
                    </a>
                    {% else %}
                    <a href="/status/news_feed">
                        <img src="{{ MEDIA_URL }}icons/news_icon.png" class="mr-2" />News Feed
                    </a>
                    {% endif %}
                </li>
                <li class="navigation-item">
                    {% if 'message' in request.path %}
                    <a href="/message/select_conversation" class="active-link">
                        <img src="{{ MEDIA_URL }}icons/message_icon.png" class="mr-2" />Messages
                    </a>
                    {% else %}
                    <a href="/message/select_conversation" >
                        <img src="{{ MEDIA_URL }}icons/message_icon.png" class="mr-2" />Messages
                    </a>
                    {% endif %}
                </li>
                <li class="navigation-item"> 
                    {% if 'family' in request.path %}
                    <a href="/user/family/{{ user.id }}" class="active-link">
                        <img src="{{ MEDIA_URL }}icons/family_icon.png" class="mr-2" />Family
                    </a>
                    {% else %}
                    <a href="/user/family/{{ user.id }}">
                        <img src="{{ MEDIA_URL }}icons/family_icon.png" class="mr-2" />Family
                    </a>
                    {% endif %}
                </li>
                <li class="navigation-item">
                    {% if 'shopping' in request.path %}
                    <a href="/shopping/shopping_page" class="active-link">
                        <img src="{{ MEDIA_URL }}icons/shopping_icon.png" class="mr-2" />Shopping
                    </a>
                    {% else %}
                    <a href="/shopping/shopping_page">
                        <img src="{{ MEDIA_URL }}icons/shopping_icon.png" class="mr-2" />Shopping
                    </a>
                    {% endif %}
                </li>
                <li class="navigation-item">
                    {% if 'event' in request.path %}
                    <a href="/event/menu" class="active-link">
                        <img src="{{ MEDIA_URL }}icons/schedule_icon.png" class="mr-2" />Events
                    </a>
                    {% else %}
                    <a href="/event/menu">
                        <img src="{{ MEDIA_URL }}icons/schedule_icon.png" class="mr-2" />Events
                    </a>
                    {% endif %}
                </li>
                <li class="navigation-item">
                    {% if 'notifications' in request.path %}
                    <a href="/user/notifications" class="active-link">
                        <img src="{{ MEDIA_URL }}icons/bell_icon.png" class="mr-2" />Notifications
                    </a>
                    {% else %}
                    <a href="/user/notifications">
                        <img src="{{ MEDIA_URL }}icons/bell_icon.png" class="mr-2" />Notifications
                    </a>
                    {% endif %}
                </li>
                <li class="navigation-item">
                    {% if 'settings' in request.path %}
                    <a href="/user/settings" class="active-link">
                        <img src="{{ MEDIA_URL }}icons/settings_icon.png" class="mr-2" />Settings
                    </a>
                    {% else %}
                    <a href="/user/settings">
                        <img src="{{ MEDIA_URL }}icons/settings_icon.png" class="mr-2" />Settings
                    </a>
                    {% endif %}
                </li>
                <li class="logout-item">
                    <a href="/accounts/logout">
                        <img src="{{ MEDIA_URL }}icons/logout_icon.png" class="mr-2" />Logout
                    </a>
                    <img class="logout-background-image" src="{{ MEDIA_URL }}svg/logout_background.svg">
                </li>
            </ul>
        </nav>
        {% endif %}
        <!-- Page content -->
        {% if user.is_authenticated %}
        <div class="content-container">
            <div class="desktop-navigation d-none d-md-block">
                <ul class="desktop-navigation-links">
                    <div class="d-flex justify-content-between align-items-center px-3 py-2">
                        <a href="/">
                            <img src="{{ MEDIA_URL }}icons/family_organiser.png" class="logo" />
                        </a>
                        <h6 class="m-0">{{ user.username }}</h6>
                    </div>

                    <hr class="m-0">
                    <li class="navigation-item">
                        {% if request.path == '/user/profile/' %}
                        <a href="/user/profile/" class="active-link">
                            <img src="{{ MEDIA_URL }}icons/profile_icon.png" class="mr-2" />Profile
                        </a>
                        {% else %}
                        <a href="/user/profile/">
                            <img src="{{ MEDIA_URL }}icons/profile_icon.png" class="mr-2" />Profile
                        </a>
                        {% endif %}
                    </li>
                    <li class="navigation-item">
                        {% if request.get_full_path == '/status/news_feed/' %}
                        <a href="/status/news_feed" class="active-link">
                            <img src="{{ MEDIA_URL }}icons/news_icon.png" class="mr-2" />News Feed
                        </a>
                        {% else %}
                        <a href="/status/news_feed">
                            <img src="{{ MEDIA_URL }}icons/news_icon.png" class="mr-2" />News Feed
                        </a>
                        {% endif %}
                    </li>
                    <li class="navigation-item">
                        {% if 'message' in request.path %}
                        <a href="/message/select_conversation" class="active-link">
                            <img src="{{ MEDIA_URL }}icons/message_icon.png" class="mr-2" />Messages
                        </a>
                        {% else %}
                        <a href="/message/select_conversation" >
                            <img src="{{ MEDIA_URL }}icons/message_icon.png" class="mr-2" />Messages
                        </a>
                        {% endif %}
                    </li>
                    <li class="navigation-item"> 
                        {% if 'family' in request.path %}
                        <a href="/user/family/{{ user.id }}" class="active-link">
                            <img src="{{ MEDIA_URL }}icons/family_icon.png" class="mr-2" />Family
                        </a>
                        {% else %}
                        <a href="/user/family/{{ user.id }}">
                            <img src="{{ MEDIA_URL }}icons/family_icon.png" class="mr-2" />Family
                        </a>
                        {% endif %}
                    </li>
                    <li class="navigation-item">
                        {% if 'shopping' in request.path %}
                        <a href="/shopping/shopping_page" class="active-link">
                            <img src="{{ MEDIA_URL }}icons/shopping_icon.png" class="mr-2" />Shopping
                        </a>
                        {% else %}
                        <a href="/shopping/shopping_page">
                            <img src="{{ MEDIA_URL }}icons/shopping_icon.png" class="mr-2" />Shopping
                        </a>
                        {% endif %}
                    </li>
                    <li class="navigation-item">
                        {% if 'event' in request.path %}
                        <a href="/event/menu" class="active-link">
                            <img src="{{ MEDIA_URL }}icons/schedule_icon.png" class="mr-2" />Events
                        </a>
                        {% else %}
                        <a href="/event/menu">
                            <img src="{{ MEDIA_URL }}icons/schedule_icon.png" class="mr-2" />Events
                        </a>
                        {% endif %}
                    </li>
                    <li class="navigation-item">
                        {% if 'notifications' in request.path %}
                        <a href="/user/notifications" class="active-link">
                            <img src="{{ MEDIA_URL }}icons/bell_icon.png" class="mr-2" />Notifications
                        </a>
                        {% else %}
                        <a href="/user/notifications">
                            <img src="{{ MEDIA_URL }}icons/bell_icon.png" class="mr-2" />Notifications
                        </a>
                        {% endif %}
                    </li>
                    <li class="navigation-item">
                        {% if 'settings' in request.path %}
                        <a href="/user/settings" class="active-link">
                            <img src="{{ MEDIA_URL }}icons/settings_icon.png" class="mr-2" />Settings
                        </a>
                        {% else %}
                        <a href="/user/settings">
                            <img src="{{ MEDIA_URL }}icons/settings_icon.png" class="mr-2" />Settings
                        </a>
                        {% endif %}
                    </li>
                    <li class="logout-item">
                        <a href="/accounts/logout">
                            <img src="{{ MEDIA_URL }}icons/logout_icon.png" class="mr-2" />Logout
                        </a>
                        <img class="logout-background-image" src="{{ MEDIA_URL }}svg/logout_background.svg">
                    </li>
                </ul>
            </div>

            <div class="content-wrapper  mx-0 mx-lg-5">
                {% endif %}
                    {% block content %}{% endblock %}
                {% if user.is_authenticated %}
            </div>


            <div class="page-update d-none d-lg-block p-2">

                {% if not user_profile.premium %}
                <h5 class="mt-2">Why Premium?</h5>
                <h6 class="mt-3">Shopping</h6>
                <p>Invite family members to help you with your shopping, also view your shopping habbits to keep
                    control of junk food.</p>
                <hr class="m-0 mb-3">
                <h6 class="mt-2">To Do</h6>
                <p>Make sure them bins get put out or that bill gets paid, even invite a family member to do it for
                    you.</p>
                <hr class="m-0 mb-3">
                <h6 class="mt-2">Events</h6>
                <p>Book invites with family members and save them to your google calender to make sure you don't
                    forget.</p>
                <hr class="m-0 mb-3">
                <a href="/premium/premium_info">More</a>
                {% else %}
                <h5 class="mt-2">Coming Soon!</h5>
                <h6 class="mt-3">To Do</h6>
                <p>Create a to do list and share with your family to get the job done faster!</p>
                <hr class="m-0 mb-3">
                <h6 class="mt-3">Photos</h6>
                <p>Create personal or public photo albums to save your holidays, days out and important memories!</p>
                <hr class="m-0 mb-3">
                <h6>Thank You</h6>
                <p>Your a premium user! Any suggestions or problems please vist. <a href="#">Click here</a></p>
                {% endif %}

            </div>
            {% endif %}
        </div>
    </div>

    {% block postloadjs %}

    {% endblock %}

</body>

</html>