{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- favicon -->
    <link rel="icon" href="{{ MEDIA_URL }}icons/family_organiser.png" type="image/x-icon"/>

    <!-- google font -->
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto:wght@300&display=swap"
        rel="stylesheet">

    <!-- js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>

    <!-- bootstrap (js) -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"></script>

    <!-- gsap (js) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.3.4/gsap.min.js"></script>

    <script src="{% static 'js/navigation.js' %}"></script>
    {% block extra_js %}{% endblock %}

    <!-- css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- bootstrap (css) -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    {% block extra_css %}{% endblock %}

    <title>{% block title %}{% endblock %}</title>
</head>

<body>

    <div class="page-container">
        <!-- Navigation -->
        {% if user.is_authenticated %}
        <nav>
            <div class="container-fluid d-flex justify-content-between p-1 px-2 align-items-center">
                <a href="/">
                    <img src="{{ MEDIA_URL }}icons/family_organiser.png" class="logo"/>
                </a>
                
                <div class="burger-container closed">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
               
            </div>
            <ul class="mobile-navigation-links">
                <h6>{{ user.username }}</h6>
                <hr class="m-0">
                <li>
                    <a href="/user/profile/">
                        <img src="{{ MEDIA_URL }}icons/profile_icon.png" class="mr-2" />Profile
                    </a>
                </li>
                <li>
                    <a href="/status/news_feed">
                        <img src="{{ MEDIA_URL }}icons/news_icon.png" class="mr-2" />News Feed
                    </a>
                </li>
                <li>
                    <a href="/">
                        <img src="{{ MEDIA_URL }}icons/message_icon.png" class="mr-2" />Messages
                    </a>
                </li>
                <li>
                    <a href="/user/family">
                        <img src="{{ MEDIA_URL }}icons/family_icon.png" class="mr-2" />Family
                    </a>
                </li>
                <li>
                    <a href="/user/notifications">
                        <img src="{{ MEDIA_URL }}icons/bell_icon.png" class="mr-2" />Notifications
                    </a>
                </li>
                <li>
                    <a href="/user/settings">
                        <img src="{{ MEDIA_URL }}icons/settings_icon.png" class="mr-2" />Settings
                    </a>
                </li>
                <li class="logout-item">
                   
                    <a href="/accounts/logout">
                        <img src="{{ MEDIA_URL }}icons/logout_icon.png" class="mr-2" />Logout
                    </a>
                    <img class="logout-background-image" src="{{ MEDIA_URL }}svg/logout_background.svg">
                </li>
            </ul>
        </nav>
        <div class="nav-margin-space"></div>
        {% endif %}
        
        <!-- Page content -->
        {% block content %}{% endblock %}
    </div>

</body>

</html>